{{ try { }}

<header id="my-account-panel-header">
    <ul id="my-account-panel-header-item-list">
        <li class="ni"><form action="/selectedaccounttab/update" method="POST"><input type="hidden" name="tab" value="0"><button id="btn-nav-my-details" class="btn" title="personal details">personal details</button></form>
        </li><li class="ni"><form action="/selectedaccounttab/update" method="POST"><input type="hidden" name="tab" value="1"><button id="btn-nav-security" class="btn" title="bookmarks">change password</button></form>
        </li><li class="ni"><form action="/selectedaccounttab/update" method="POST"><input type="hidden" name="tab" value="2"><button id="btn-nav-cvs" class="btn" title="my cvs">my cvs</button></form>
        </li><li class="ni"><form action="/selectedaccounttab/update" method="POST"><input type="hidden" name="tab" value="3"><button id="btn-nav-job-applications" class="btn" title="job applications">job applications</button></form></li>
    </ul>
</header>

<div id="my-account-tabs-container">
    <div id="my-details">
        <form id="frm-my-details" action="/account/mydetails/update" method="POST">
            <div id="my-account-buttons-container-my-details">
                <div id="cancel-my-account-button-container">
                    <div class="rotating-button-container">
                        <button type="submit" form="frm-cancel-my-account" id="btn-cancel-my-account" tabindex="1"
                                class="btn btn-s"></button>
                        <span class="focus-indicator"></span><span class="button-icon">cancel</span>
                    </div>
                </div>
                <div id="save-my-account-button-container">
                    <div class="rotating-button-container">
                        <button type="submit" id="btn-save-my-account" tabindex="1"
                                class="btn btn-s btn-primary btn-rotating"
                                data-is-waiting="false"></button>
                        <span class="focus-indicator"></span><span class="button-icon">done</span>
                    </div>
                </div>
            </div>
            <input id="id" type="hidden" value="{{=model.id}}"/>

            <div class="input-label-group">
                <input id="name" type="text" placeholder="Fred Smith" value="{{=model.name}}"/>
                <label class="lbl" for="name">Name</label>
            </div>
            <div class="input-label-group">
                <input id="email" type="email" placeholder="example@example.com" value="{{=model.email}}"/>
                <label class="lbl" for="name">Email</label>
            </div>
            <div class="input-label-group">
                <input id="location" type="text" placeholder="London" value="{{=model.location}}"/>
                <label class="lbl" for="name">Location</label>
            </div>
            <div class="input-label-group">
                <input id="company" type="text" placeholder="My Company" value="{{=model.company}}"/>
                <label class="lbl" for="name">Company</label>
            </div>
            <div class="input-label-group">
                <input id="url" type="text" placeholder="www.example.com" value="{{=model.url}}"/>
                <label class="lbl" for="name">URL</label>
            </div>
        </form>
    </div>
    <div id="security">
        <form id="frm-my-details" action="/myaccount/password/update" method="POST">
            <div id="my-account-buttons-container-my-details">
                <div id="cancel-my-account-button-container">
                    <div class="rotating-button-container">
                        <button type="submit" form="frm-cancel-my-account" id="btn-cancel-my-account" tabindex="1"
                                class="btn btn-s"></button>
                        <span class="focus-indicator"></span><span class="button-icon">cancel</span>
                    </div>
                </div>
                <div id="save-my-account-button-container">
                    <div class="rotating-button-container">
                        <button type="submit" id="btn-save-my-account" tabindex="1"
                                class="btn btn-s btn-primary btn-rotating"
                                data-is-waiting="false"></button>
                        <span class="focus-indicator"></span><span class="button-icon">done</span>
                    </div>
                </div>
            </div>
            <div class="input-label-group">
                <input id="password-c" type="text" placeholder="required" value=""/>
                <label class="lbl" for="name">Current Password</label>
            </div>
            <div class="input-label-group">
                <input id="password-n1" type="email" placeholder="required" value=""/>
                <label class="lbl" for="name">New password</label>
            </div>
            <div class="input-label-group">
                <input id="password-n2" type="text" placeholder="required" value=""/>
                <label class="lbl" for="name">New password again</label>
            </div>
        </form>
    </div>
    <div id="my-cvs">
        <div id="my-account-buttons-container-my-cvs">
            <div id="cancel-my-account-button-container">
                <div class="rotating-button-container">
                    <!--<button type="submit" form="frm-cancel-my-account" id="btn-cancel-my-account" tabindex="1"-->
                    <!--class="btn btn-s"></button>-->
                    <!--<span class="focus-indicator"></span><span class="button-icon">cancel</span>-->
                </div>
            </div>
            <div id="save-my-account-button-container">
                <div class="rotating-button-container">
                    <button type="submit" id="btn-save-my-account" tabindex="1"
                            class="btn btn-s btn-primary btn-rotating"
                            data-is-waiting="false"></button>
                    <span class="focus-indicator"></span><span class="button-icon">edit</span>
                </div>
            </div>
        </div>
        <ul id="cv-list">
            <li class="cv-i cv-i-new">
                <div class="cv">
                    <div class="title"><span class="ico">&#xf1c9;</span> Add CV</div>
                    <hr/>
                </div>
            </li>
            <li class="cv-i">
                <div class="cv">
                    <div class="title">Main CV <a href="#" class="download-link">download</a></div>
                    <div class="added">3 days ago</div>
                    <hr/>
                </div>
            </li>
            <li class="cv-i">
                <div class="cv">
                    <div class="title">CTO CV <a href="#" class="download-link">download</a></div>
                    <div class="added">5 days ago</div>
                    <hr/>
                </div>
            </li>
        </ul>
        <!--<input id="file-cv" type="file" name="cv" />-->
    </div>
    <div id="job-applications">
        <div class="application-period">
        <div class="application-period-summary">9 days ago</div>
        <ul id="application-list">
            <li class="application-i">
                <div class="application">
                    <div class="title">Senior Python / Oracle Developer</div>
                    <div class="added">Contact Anthony Dyer on +44 (0)7742 157 185 (ref. )</div>
                    <hr/>
                </div>
            </li>
            <li class="application-i">
                <div class="application">
                    <div class="title">C# Developer (Mid-level)</div>
                    <div class="added">Contact Anthony Dyer on +44 (0)7742 157 185 (ref. )</div>
                    <hr/>
                </div>
            </li>
        </ul>
        </div>
    </div>
</div>
<form id="frm-cancel-my-account" action="/myaccount" method="GET"></form>

{{
} catch(e) {
throw "template exception: contract/my-account. " + e;
}
}}
