<% try {  %><div class="<%= model.isSelected ? 'selected-item-content' : 'pinned-item-content' %> pink" style="width: <%=model.width%>px;">
    <div id="top1" class="in-page-anchor-target"></div>

    <article class="item-of-interest-content <%=model.isHidden ? 'hidden' : '' %>">
        <section class="menu-and-metadata-container" style="">
        <section class="menu" >
            <form method="POST" action="/searchpanelmode/update?mode=0">
                <input type="hidden" name="mode" value="0">
                <button id="btn-update-search-panel-mode" class="btn btn-40 btn-primary handle-element" title="Pin"></button>
                <label class="handle-search-panel-label handle-element label" for="btn-update-search-panel-mode">show search &amp; bookmarks</label>
            </form>
            <div class="rotating-button-container centered-text">
                <button type="submit" id="btn-search" tabindex="1" class="btn btn-40 btn-primary btn-rotating" data-is-waiting="false"></button><span class="focus-indicator"></span><span class="button-icon">search</span>
            </div>
            <form class="frm-favorite" method="POST" action="/bookmarkeditems/<%=model.isFavorite ? 'destroy' : 'create' %>">
                <input type="hidden" name="id" value="<%=model.id%>" />
                <div class="menu-item">
                    <button type="submit" id="btn-favorite-<%= model.id%>" class="btn btn-40 btn-primary <%=model.isFavoritable || model.isFavorite ? '' : 'disabled' %> <% if(model.isFavorite) {%>checked<%} %> btn-favorite"
                        title="<%=model.isFavoritable ? 'Favorite' : '' %>">&#xf26b;</button>
            <label class="label" for="btn-favorite-<%= model.id%>"><%= model.isFavorite ? 'remove bookmark' : 'bookmark' %></label>
            </div></form><form class="frm-hide" method="POST" action="/hiddenitems/<%=model.isHidden ? 'destroy' : 'create' %>">
                <input type="hidden" name="id" value="<%=model.id%>" />
                <div class="menu-item">
                    <button id="btn-hide-<%= model.id%>" class="btn btn-40 btn-primary <%=model.isHideable || model.isHidden ? '' : 'disabled' %> <% if(model.isHidden) {%>checked<%} %> btn-hide"
                        title="<%=model.isHideable ? 'Hide this from future results' : '' %>">&#xf1ac;</button>
            <label class="label" for="btn-hide-<%= model.id%>"><%= model.isHidden ? 'un-hide' : 'hide' %></label>
            </div></form>

            <div class="menu-item"><a
            <%=(model.isActionable || model.isActionable) ? 'href' : 'disabled'%>="/actioneditems/<%=!model.isActioned ? 'create' : 'destroy' %>?id=<%=model.id%>"
            class="btn btn-40 btn-primary <%=model.isActioned ? 'checked' : '' %> <%=model.isActionable ? '' : 'disabled' %>  btn-apply"
            title="<%=model.isActionable ? 'Apply for this job' : 'You cannot apply for hidden items' %>">&#xf16c;</a>
            <div class="label">apply</div>
        </div><form class= "frm-pin" method="POST" action="/itemsofinterest/<%=!model.isPinned ? 'create' : 'destroy' %>"><input type="hidden" name="id" value="<%=model.id%>" /><div class="menu-item"><button id="btn-pin-<%= model.id%>"
            class="btn btn-40 btn-primary <%=model.isPinnable || model.isPinned ? '' : 'disabled' %> <% if(model.isPinned) {%>checked<%} %> btn-pin"
            title="<%=model.isPinnable ? 'Pin' : 'This item is already pinned / You have the maximum number of permitted pinned items / You cannot pin hidden items' %>"><%= model.isPinned ? '&#xf2ba;' : '&#xf2ba;' %></button>
            <label class="label" for="btn-pin-<%= model.id%>"><%= model.isPinned ? 'remove from comparison list' : 'add to comparison list' %></label>
            </div></form>
        </section>
        <section class="itemMetadata" style="margin-left:16px;margin-top: 7px; text-align: left;">
            <p><%= model.jobTitle %>, <%= model.location %>, <%= model.country %></p>
            <p><%= model.rateLower %> - <%= model.rateUpper %> GBP/day, <%= model.industry %> &nbsp;<a href="/itemofinterestmetadata/update?mode=1">more...</a></p>
            <!--<p><%= model.organization %>, <%= moment(model.updatedDateTime).fromNow() %></p>-->
            <!--<div class="contact">Contact <%= model.contact %> on <%= model.telephoneNumber %></div>-->
            <!--<div class="skills"><%= model.skills.split(',').map(function(s){ return '<code>' + s.trim() + '</code>'; }).join(' ') %></div>-->
            <!--<div class="id"> Job ID: <%= model.id %></div>-->
        </section>
        </section>
        <!--<%= model.isSelected ? '<div class="selected-top">' : '' %>-->
            <h3 style="clear:none; min-width: 250px; display: inline-block;"><%= model.title %></h3>
            <p class="tld"><%= model.tld %></p>
        <!--<%= model.isSelected ? '</div>' : '' %>-->
            <h4 style="clear:none;">Job Description</h4>
            <%= model.summary %>
            <h4 style="clear:none;">Skills</h4>
            <p><%= model.skills.split(',').map(function(s){ return '<code>' + s.trim() + '</code>'; }).join(' ') %></p>
            <h4 style="clear:none;">About</h4>
            <%= model.aboutOrganization %>
            <hr>
            <a href="#top1" data-bypass-router="true" class="back-to-top">Back to top</a>
    </article>
</div><%
} catch(e) {
throw "template exception: item-of-interest. " + e;
}%>

<!--<div class="menu-item">-->
    <!--<a-->
    <!--<%=(model.isFavoritable || model.isFavorite) ? 'href' : 'disabled'%>="/favorites/<%=model.isFavorite ? 'destroy' : 'create' %>?id=<%=model.id%>"-->
    <!--class="btn btn-40 btn-primary <% if(!model.isFavoritable && !model.isFavorite) {%>disabled<%}%> <%=model.isFavorite ? 'is-favorite checked' : '' %> btn-favorite"-->
    <!--title="<% if(model.isFavorite) {%>Remove favorite<%} else if(model.isFavoritable){ %> Add To Favourites <% } else { %>You have maxed out your favorites / You cannot favorite hidden items<% } %>">&#xf1df;</a>-->
    <!--<div class="label">favorite</div>-->
<!--</div>-->

<!--<div class="menu-item"><a-->

    <!--<%=(model.isHideable || model.isHidden) ? 'href' : 'disabled'%>="/hiddenitems/<%=!model.isHidden ? 'create' : 'destroy' %>?id=<%=model.id%>"-->
    <!--class="btn btn-40 btn-primary <%=(model.isHidden ? 'checked' : '')%> btn-hide <% if(!model.isHideable) {%>disabled <%}%>"-->

    <!--title="<%=model.isHideable ? 'Hide this from future results' : 'You cannot hide items that are favorites, are applied-for or are pinned' %>">&#xf1ac;</a>-->
    <!--<div class="label">hide</div>-->
<!--</div>-->