{{ try {  }}

<div class="flex-containerr {{= model.isSelected ? 's-i-content' : 'p-i-content' }}" style="width: {{=model.width}}px; overflow:hidden; position:relative;">
    <!--<div id="top1" class="in-page-anchor-target"></div>-->
    <header class="menu-container flex-itemm" style="">

    <ul class="menu" style="position: relative;
">        
            <li><form class= "frm-pin" method="POST" action="/itemsofinterest/{{=!model.isInComparisonList ? 'create' : 'destroy' }}"><input type="hidden" name="id" value="{{=model.id}}" />
                <div class="m-i">
                    <button id="btn-pin-{{= model.id}}" class="btn btn-s a {{=model.canAddToComparisonList || model.isInComparisonList ? '' : 'disabled' }} {{ if(model.isInComparisonList) {}}checked{{} }} btn-pin"
                             {{=model.canAddToComparisonList || model.isInComparisonList ? '' : 'disabled' }}>{{=model.isInComparisonList ? '&#xf40d;' : '&#xf30e;' }}</button>
                    <label class="lbl" for="btn-pin-{{= model.id}}">{{= model.isInComparisonList ? 'Un-compare' : 'Compare' }}</label>
                </div>
            </form></li>
            <li><form class="frm-bookmark" method="POST" action="/bookmarks/{{=model.isBookmark ? 'destroy' : 'create' }}">
                <input type="hidden" name="id" value="{{=model.id}}" />
                <div class="m-i">
                    <button type="submit" id="btn-bookmark-{{= model.id}}" class="btn btn-s a {{=model.isBookmarkable || model.isBookmark ? '' : 'disabled' }} {{ if(model.isBookmark) {}}checked{{} }}"
                            title="{{=model.isBookmarkable ? 'Bookmark' : '' }}" {{=model.isHidden ? 'disabled' : '' }}>{{=model.isBookmark ? '&#xf26b;' : '&#xf25d;' }}</button>
                    <label class="lbl" for="btn-bookmark-{{= model.id}}">{{= model.isBookmark ? 'Un-bookmark' : 'Bookmark' }}</label>
                </div>
            </form></li>
        </ul>
    </header><div class="flex-item" style="position:absolute;overflow-y: scroll;height:100%;"><article class="i-o-i-c {{=model.isHidden ? 'hidden' : '' }}" style="position:relative; top: 0;"><div class="i-o-i-p-c">
                <div style="vertical-align:top;display:block; ">
                    <h3 class="i-o-i-t" style="width: calc(100% - 160px);
line-height: 23px; /*try and certical center more*/
min-height: 55px;">{{= model.title }}</h3>
                    <ul class="info">
                        <li>Posted {{= moment(model.updatedDateTime).fromNow() }}</li>
                        <li><a href="#">{{= model.organization }}</a></li>
                    </ul>
                    <ul class="info">
                        <li>{{= model.rateLower }} - {{= model.rateUpper }} GBP/day</li>                        
                        <li>{{= model.contractLength }} {{= model.isRolling && 'rolling' }}</span></li>
                        <li>{{= model.location }}, <span class="country">{{= model.country }}</span></li>
                    </ul>
                    
                    <p class="skills">{{= model.skills.split(',').map(function(s){ return '<code>' + s.trim() + '</code>'; }).join(' ') }}</p>
                </div>





            </div>
            <!--<div class="i-o-i-p-c-hr">-->
                <!--<hr class="i-o-i-hr">-->
            <!--</div>-->
            <div class="i-o-i-p-c">
                <div style="float: right;margin-left: 14px;margin-right: 15px; margin-bottom: 20px;width: 100px;">
                    <form style="width:100%;text-align: center;" class="frm-action" method="POST" action="{{=model.isActioned ? '/actioneditems/destroy' : '/applytocontractdialog/create' }}">
                        <input type="hidden" name="id" value="{{=model.id}}" />
                        <div class="m-i" style="top:0">
                            <button style="font-size: 1.25rem;
font-family: helvetica-pro-light,Arial,sans-serif;
color: rgba(0,109,204,.95);
width: 100px;
height: 100px;
border-radius: 100px;
border: 1px solid;
line-height: 100px;" id="btn-action-{{= model.id}}" class="btn a {{=model.isActionable || model.isHidden ? '' : 'disabled' }} {{ if(model.isActioned) {}}checked{{} }} btn-action"
                                    title="{{=model.isActionable ? 'Apply to this job' : '' }}" {{=model.isActionable ? '' : 'disabled' }}>Apply</button>
                            <!--<label class="lbl" for="btn-action-{{= model.id}}">Apply</label>-->
                        </div>
                    </form>
                </div>
                <h4 style="clear:none;">Job Description</h4>
                {{= model.summary }}
                <h4>About You</h4>
                {{= model.aboutYou }}
                <h4>About Us</h4>
                {{= model.aboutOrganization }}
                <h4>Direct Contact</h4>
                <div class="contact">Contact {{= model.contact }} on {{= model.telephoneNumber }} (ref. {{= model.ref }})</div>
            </div>
        </article>
   </div>
</div>{{
} catch(e) {
throw "template exception: contract/item-of-interest. " + e;
}
}}


