{{ try {  }}<div class="flex-container {{= model.isSelected ? 's-i-content' : 'p-i-content' }}" style="width: {{=model.width}}px;">
    <!--<div id="top1" class="in-page-anchor-target"></div>-->
    <header class="menu-container flex-item">
        <!--<ul class="menu">-->
            <!--<li><form class="frm-bookmark" method="POST" action="/bookmarks/{{=model.isBookmark ? 'destroy' : 'create' }}">-->
                <!--<input type="hidden" name="id" value="{{=model.id}}" />-->
                <!--<div class="m-i">-->
                    <!--<button type="submit" id="btn-bookmark-{{= model.id}}" class="btn btn-s a {{=model.isBookmarkable || model.isBookmark ? '' : 'disabled' }} {{ if(model.isBookmark) {}}checked{{} }}"-->
                            <!--title="{{=model.isBookmarkable ? 'Bookmark' : '' }}" {{=model.isHidden ? 'disabled' : '' }}>{{=model.isBookmark ? '&#xf15d;' : '&#xf15c;' }}</button>-->
                    <!--<label class="lbl" for="btn-bookmark-{{= model.id}}">{{= model.isBookmark ? 'Un-bookmark' : 'Bookmark' }}</label>-->
                <!--</div>-->
            <!--</form></li>-->
            <!--<li><form class="frm-hide" method="POST" action="/hiddenitems/{{=model.isHidden ? 'destroy' : 'create' }}">-->
                <!--<input type="hidden" name="id" value="{{=model.id}}" />-->
                <!--<div class="m-i">-->
                    <!--<button id="btn-hide-{{= model.id}}" class="btn btn-s a {{=model.isHideable || model.isHidden ? '' : 'disabled' }} {{ if(model.isHidden) {}}checked{{} }} btn-hide"-->
                            <!--title="{{=model.isHideable ? 'Hide this from future results' : '' }}" {{=model.isHideable || model.isHidden ? '' : 'disabled' }}>&#xf30f;</button>-->
                    <!--<label class="lbl" for="btn-hide-{{= model.id}}">{{= model.isHidden ? 'Un-hide' : 'Hide' }}</label>-->
                <!--</div>-->
            <!--</form></li>-->
            <!--<li><form class="frm-action" method="POST" action="{{=model.isActioned ? '/actioneditems/destroy' : '/applytocontractdialog/create' }}">-->
                <!--<input type="hidden" name="id" value="{{=model.id}}" />-->
                <!--<div class="m-i">-->
                    <!--<button id="btn-action-{{= model.id}}" class="btn btn-s a {{=model.isActionable || model.isHidden ? '' : 'disabled' }} {{ if(model.isActioned) {}}checked{{} }} btn-action"-->
                            <!--title="{{=model.isActionable ? 'Apply to this job' : '' }}" {{=model.isActionable ? '' : 'disabled' }}>&#xf16c;</button>-->
                    <!--<label class="lbl" for="btn-action-{{= model.id}}">Apply</label>-->
                <!--</div>-->
            <!--</form></li>-->
            <!--<li><form class= "frm-pin" method="POST" action="/itemsofinterest/{{=!model.isInComparisonList ? 'create' : 'destroy' }}"><input type="hidden" name="id" value="{{=model.id}}" />-->
                <!--<div class="m-i">-->
                    <!--<button id="btn-pin-{{= model.id}}" class="btn btn-s a {{=model.canAddToComparisonList || model.isInComparisonList ? '' : 'disabled' }} {{ if(model.isInComparisonList) {}}checked{{} }} btn-pin"-->
                            <!--title="{{=model.canAddToComparisonList ? 'Add to/Remove from comparison list' : 'This item is already in your comparison list / You have the maximum number of permitted items in the comparison list / You cannot add hidden items to the comparison list' }}" {{=model.canAddToComparisonList || model.isInComparisonList ? '' : 'disabled' }}>{{=model.isInComparisonList ? '&#xf31b;' : '&#xf31c;' }}</button>-->
                    <!--<label class="lbl" for="btn-pin-{{= model.id}}">{{= model.isInComparisonList ? 'Un-compare' : 'Compare' }}</label>-->
                <!--</div>-->
            <!--</form></li>-->
        <!--</ul>-->
    </header>
    <div class="flex-item">
        <article class="i-o-i-c {{=model.isHidden ? 'hidden' : '' }}">
            <div class="i-o-i-p-c">
                <h3 class="i-o-i-t">{{= model.title }}</h3>
                <ul class="info">
                    <li>Posted {{= moment(model.updatedDateTime).fromNow() }}</li>
                    <li><a href="#">{{= model.organization }}</a></li>
                </ul>
                <ul class="info">
                    <li>{{= model.rateLower }} - {{= model.rateUpper }} GBP/day</li>
                    <li>{{= model.location }}, <span class="country">{{= model.country }}</span></li>
                </ul>
                <p class="skills">{{= model.skills.split(',').map(function(s){ return '<code>' + s.trim() + '</code>'; }).join(' ') }}</p>
            </div>
            <div class="i-o-i-p-c-hr">
                <hr class="i-o-i-hr">
            </div>
            <div class="i-o-i-p-c">
                <h4>Job Description</h4>
                {{= model.summary }}
                <h4>About You</h4>
                {{= model.aboutYou }}
                <h4>About Us</h4>
                {{= model.aboutOrganization }}
                <h4>Contact</h4>
                <div class="contact">Contact {{= model.contact }} on {{= model.telephoneNumber }} (ref. {{= model.ref }})</div>
            </div>
        </article>
   </div>
</div>{{
} catch(e) {
throw "template exception: contract/item-of-interest. " + e;
}
}}


