<% try {
var rate = model.getRate();
var keywords = model.getKeywords();
var location = model.getLocation();
%>
<form name="search-form" action="/search" method="GET">
    <div class="search-fields">
      <input id="keywords" name="keywords" <%= keywords ? "value='" + keywords + "'" : "''" %> class="field" required placeholder="your skills (e.g. ruby, java)" tabindex="1" autocorrect="off" autocapitalize="none" type="text" tabindex="1">
      <input id="location" name="location" <%= location ? "value='" + location + "'" : "''" %> class="field" placeholder="location (e.g. london, w2)" autocorrect="off" autocapitalize="none" type="text" tabindex="1">
    </div>
    <div class="search-filters">
      <span>minimum daily rate (gbp)</span>
      <table>
        <tbody><tr>
          <td>
            <input id="r350" name="r" type="radio" value="350" tabindex="1" <%= rate ? rate === "350" ? "checked='checked'" : ""  : "checked='checked'" %>>
            <label for="r350">350</label>
          </td>
          <td>
            <input id="r450" name="r" type="radio" value="450" tabindex="1" <%= rate ? rate === "450" ? "checked='checked'" : ""  : "" %>>
            <label for="r450">450</label>
          </td>
          <td>
            <input id="r550" name="r" type="radio" value="550" tabindex="1" <%= rate ? rate === "550" ? "checked='checked'" : ""  : "" %>>
            <label for="r550">550</label>
          </td>
          <td>
            <input id="r650" name="r" type="radio" value="650" tabindex="1" <%= rate ? rate === "650" ? "checked='checked'" : ""  : "" %>>
            <label for="r650">650</label>
          </td>
          <td>
            <input id="r750+" name="r" type="radio" value="750" tabindex="1" <%= rate ? rate === "750" ? "checked='checked'" : ""  : "" %>>
            <label for="r750+">750+</label>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <input id="r400" name="r" type="radio" value="400" tabindex="1" <%= rate ? rate === "400" ? "checked='checked'" : ""  : "" %>>
            <label for="r400">400</label>
          </td>
          <td>
            <input id="r500" name="r" type="radio" value="500" tabindex="1" <%= rate ? rate === "500" ? "checked='checked'" : ""  : "" %>>
            <label for="r500">500</label>
          </td>
          <td>
            <input id="r600" name="r" type="radio" value="600" tabindex="1" <%= rate ? rate === "600" ? "checked='checked'" : ""  : "" %>>
            <label for="r600">600</label>
          </td>
          <td>
            <input id="r700" name="r" type="radio" value="700" tabindex="1" required="required" <%= rate ? rate === "700" ? "checked='checked'" : ""  : "" %>>
            <label for="r700">700</label>
          </td>
          <td>

          </td>
        </tr>
      </tbody>
      </table>
    </div>
    <div class="inline-block width-62 search-button-container centered-text">
        <div class="rotating-button-container centered-text">
            <button type="submit" id="btn-search" class="btn btn-50 btn-primary btn-rotating" data-is-waiting="false"></button><span class="focus-indicator"></span><span class="button-icon"></span><div class="label">search</div>
        </div>

    </div>
</form>
<%
} catch(e) {
throw "template exception: search-form. " + e;
}%>