{{ try {
var rate = model.getRate();
var keywords = model.getKeywords();
}}
<div class="logo">wizerati</div>
<div class="tag-line">Global IT contract job search</div>

<form id="search-form" name="search-form" action="/search" method="GET">
<div id="search-buttons-container">
    <div class="cancel-button-container">
        <div class="r-b-c">
            <button type="submit" form="frm-cancel-search" id="btn-cancel-search" tabindex="1" class="btn btn-s"></button><span class="focus-indicator"></span>
            <span class="button-icon">Cancel</span>
        </div>
    </div>
    <div class="search-button-container">
        <div class="r-b-c">
            <button type="submit" id="btn-search" tabindex="1" class="btn btn-s btn-rotating" data-is-waiting="false"></button>
            <span class="focus-indicator"></span>
            <span class="button-icon">Search</span>
        </div>
    </div>
    </div>
    <div class="search-fields">
      <input type="search" id="keywords" name="keywords" {{= keywords ? "value='" + keywords + "'" : "''" }} class="field" required placeholder="e.g. 'javascript london'" autocorrect="off" autocapitalize="none" tabindex="1">
    </div>
    <div class="search-filters">
      <span style="
    text-align: left;
    display: inline-block;
    width: 100%;
    margin-left: 23px;
    margin-bottom: 7px;
">Minimum rate (GBP/day)</span>
        <ol style="margin: 0 17px;display: block;">
            <li><input id="r200" class="radio" name="r" type="radio" value=">200" tabindex="1" {{= rate ? rate === "200" ? "checked='checked'" : ""  : "" }}>
                <label for="r200" class="lbl">200</label></li>
            <li><input id="r250" class="radio" name="r" type="radio" value=">250" tabindex="1" {{= rate ? rate === "250" ? "checked='checked'" : ""  : "checked='checked'" }}>
                <label for="r250" class="lbl">250</label></li>
            <li><input id="r300" class="radio" name="r" type="radio" value=">300" tabindex="1" {{= rate ? rate === "300" ? "checked='checked'" : ""  : "" }}>
                <label for="r300" class="lbl">300</label></li>
            <li><input id="r350" class="radio" name="r" type="radio" value=">350" tabindex="1" {{= rate ? rate === "350" ? "checked='checked'" : ""  : "checked='checked'" }}>
                <label for="r350" class="lbl">350</label></li>
            <li><input id="r400" class="radio" name="r" type="radio" value=">400" tabindex="1" {{= rate ? rate === "400" ? "checked='checked'" : ""  : "" }}>
                <label for="r400" class="lbl">400</label></li>
            <li><input id="r450" class="radio" name="r" type="radio" value=">450" tabindex="1" {{= rate ? rate === "450" ? "checked='checked'" : ""  : "" }}>
                <label for="r450" class="lbl">450</label></li>
            <li><input id="r500" class="radio" name="r" type="radio" value=">500" tabindex="1" {{= rate ? rate === "500" ? "checked='checked'" : ""  : "" }}>
                <label for="r500" class="lbl">500</label></li>
            <li><input id="r550" class="radio" name="r" type="radio" value=">550" tabindex="1" {{= rate ? rate === "550" ? "checked='checked'" : ""  : "" }}>
                <label for="r550" class="lbl">550</label></li>
            <li><input id="r600" class="radio" name="r" type="radio" value=">600" tabindex="1" {{= rate ? rate === "600" ? "checked='checked'" : ""  : "" }}>
                <label for="r600" class="lbl">600</label></li>
        </ol>
    </div>
    
</form>
<form id="frm-cancel-search" name="frm-cancel-search" action="/searchformmode/update" method="POST">
    <input type="hidden" name="mode" value="1"/>
</form>


<div class="experiment">
    <div class="r-b-c small test">
        <button type="submit" id="x" data-label="Search" tabindex="1" class="btn bordered" data-is-waiting="false"></button>
        <span class="focus-indicator"></span>
        <span class="icon">Search</span><label for="x" class="icon lower">Search</label>
    </div>
    <div class="r-b-c medium test">
        <button type="submit" id="y" tabindex="1" class="btn" data-is-waiting="true"></button>
        <span class="focus-indicator"></span>
        <span class="icon">Search</span><label for="y" class="icon lower">Search</label>
    </div>
    <div class="r-b-c large test">
        <button type="submit" id="z" tabindex="1" class="btn" data-is-waiting="true"></button>
        <span class="focus-indicator"></span>
        <span class="icon">Search</span>
        <label for="z" class="icon lower">Search</label>
    </div>

    <div class="r-b-c small test">
        <button type="submit" id="x" data-label="Search" tabindex="1" class="btn" data-is-waiting="true" data-is-selected="true"></button>
        <span class="focus-indicator"></span>
        <span class="icon">Search</span><label for="x" class="icon lower">Search</label>
    </div>
    <div class="r-b-c medium test">
        <button type="submit" id="y" tabindex="1" class="btn" data-is-waiting="true" data-is-selected="true"></button>
        <span class="focus-indicator"></span>
        <span class="icon">Search</span><label for="y" class="icon lower">Search</label>
    </div>
    <div class="r-b-c large test">
        <button type="submit" id="z" tabindex="1" class="btn" data-is-waiting="true" data-is-selected="true"></button>
        <span class="focus-indicator"></span>
        <span class="icon">Search</span>
        <label for="z" class="icon lower">Search</label>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="r-b-c long test">
        <button type="submit" id="z2" tabindex="1" class="btn" data-is-waiting="true" data-is-selected="false"></button>
        <span class="focus-indicator"></span>
        <span class="icon ionicons">&#xf100;</span>
        <label for="z2" class="icon lower">javascript london</label>
    </div>
    
    <div class="r-b-c long centered-label test">
        <button type="submit" id="z1" tabindex="1" class="btn" data-is-waiting="true" data-is-selected="false"></button>
        <span class="focus-indicator"></span>
        <label for="z1" class="icon">Personal Details</label>        
        <label for="z1" class="icon lower">javascript london</label>
    </div>
</div>


{{
} catch(e) {
throw "template exception: contract/search-form. " + e;
}
}}


