<!DOCTYPE html>
<html lang="en-GB">
<head>
    @@warning
    <title>Wizerati</title>
    <meta name="author" content="Ben Aston">
    <meta name="copyright" content="Copyright Ben Aston 2014. All rights reserved. Unauthorized duplication prohibited.">
    <style>@@css</style>
    <noscript><link rel="stylesheet" type="text/css" href="stylesheets/noscript.css"></noscript>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-touch-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/apple-touch-icon-152.png">
</head>
<body data-ui-mode="-1" data-are-transitions-enabled="false" data-modal="-1">
<div class="modal-container main-container" data-visibility-mode="2">
    <div class="search-panel" data-mode="0">
        <div class="centered-text handle-search-panel btn-container handle-element">
            <form method="POST" action="/searchpanelmode/update?mode=0">
                <input type="hidden" name="mode" value="0">
                <button id="btn-update-search-panel-mode" class="btn btn-40 btn-primary handle-element" title="show search & bookmarks">
                    &#xf264;</button>
                <label class="handle-search-panel-label handle-element label" for="btn-update-search-panel-mode">show
                    search &amp; bookmarks</label>
            </form>
        </div>
        <div id="search-form">
        </div>
        <!-- fav cube goes here -->

        <div class="navbar">
            <a class="btn-my-account" href="/user/show?id=userid">sign in</a> &nbsp;|&nbsp; <a
                    href="/purchasepanel?tab=0" class="btn-advertisers">recruiters</a> <span class="legal"><span
                        class="legal-logo">&#xf30c;</span> wizerati &copy; 2014</span>
        </div>
    </div>
    <article class="result-list-panel ios-scroll-enable">
        <div class="result-list-search-summary-container">
            <div>345 results for "Dssnnsbns, London"</div>
        </div>
        <ul class="result-list"></ul>
    </article><div class="items-of-interest-panel">
        <div id="selected-item-container-1" class="selected-item-container"></div><div id="selected-item-container-2" class="selected-item-container"></div>
        <div class="pinned-items-container">
            <div class="handle-pinned-items btn-container"><a href="/itemsofinterestpanelmode/update?mode=1"
                                                              class="btn btn-primary btn-40">&#xf264;</a>

                <div class="label"></div>
            </div>
        </div>
    </div>
    <h1 class="logo">wizerati</h1>

    <h2 class="tag-line">UK IT contract job search</h2></div>
<div class="background-container"><div class="background-image">&#xf30c;</div></div>
<div class="loading-container"><div class="loading"></div></div>
@@apply-to-contract-dialog
<script type="text/template" data-template-uri="./template-server/contract/templates/search-form.html-local">
@@search-form-contract-template
</script>
<script type="text/template" data-template-uri="./template-server/contract/templates/item-of-interest.html-local">
@@item-of-interest-contract-template
</script>
<script type="text/template" data-template-uri="./template-server/contract/templates/result.html-local">
@@result-contract-template
</script>
<div class="build">( @@build )</div>
<div id="no-script">
    <div class="no-script-content">
        <div class="center-content">
            <div class="logo-image"></div>
            <h1>JavaScript is required.</h1>

            <p>To use Wizerati, enable JavaScript in your browser and try again.</p>
        </div>
        <footer>Copyright &copy; Wizerati 2014. All rights reserved. ( @@build )</footer>
    </div>
</div>
@@warning
@@javascript
</body>
</html>
