<!DOCTYPE html>
<html lang="en-GB">
<head>
    <!--( @@build )-->
    @@warning
    <title>Wizerati</title>
    <meta name="author" content="Ben Aston">
    <meta name="copyright" content="Copyright Ben Aston 2014. All rights reserved. Unauthorized duplication prohibited.">
    <style>@@css</style>
    <noscript><link rel="stylesheet" type="text/css" href="stylesheets/noscript.css"></noscript>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-touch-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/apple-touch-icon-152.png">
</head>
<body data-ui-mode="-1" data-are-transitions-enabled="false" data-modal="-1">
<div id="main-container" data-visibility-mode="2">
    @@nav-panel @@bookmark-panel@@result-list-panel@@items-of-interest-panel
</div>
<div id="background-container"><div id="background-image"></div></div>
<div class="navbar">
    <a class="btn-my-account" href="/user/show?id=userid">sign in</a> &nbsp;|&nbsp; <a
            href="/purchasepanel?tab=0" class="btn-advertisers">recruiters</a> <span class="legal"><span
                class="legal-logo">&#xf30c;</span> wizerati &copy; 2014</span>
</div>
@@apply-to-contract-dialog
@@no-script
<script type="text/template" data-template-uri="./template-server/contract/templates/search-form.html-local">
@@search-form-contract-template
</script>
<script type="text/template" data-template-uri="./template-server/contract/templates/item-of-interest.html-local">
@@item-of-interest-contract-template
</script>
<script type="text/template" data-template-uri="./template-server/contract/templates/result.html-local">
@@result-contract-template
</script>
@@javascript
@@warning
</body>
</html>
