<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/wizerati.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body class="slate position-absolute height-100"><div class="blur-wrapper width-1893 blue height-100"><div class="search-panel overflow-hidden width-340 position-fixed top-0 left-0 red height-100 vertical-align-top">
        <div class="">
            <p>search</p>
        </div>
    </div><article class="result-list position-relative left-0 top-0 width-533 display-inline-block height-100 margin-left-340 green vertical-align-top">
        <div class="overflow-scroll-y">
            <ul>
                <li>foo</li>
                <li>foo</li>
                <li>foo</li>
                <li>foo</li>
                <li>foo</li>
                <li>foo</li>
                <li>foo</li>
            </ul>
        </div>
    </article><article class="selected-item position-relative left-0 top-0 width-340 display-inline-block height-100 orange vertical-align-top">
        <div class="overflow-scroll-y">
            <p>si</p>
        </div>
    </article><article class="pinned-item position-relative left-0 top-0 width-340 display-inline-block height-100 blue vertical-align-top">
        <div class="overflow-scroll-y">
            <p>p1</p>
        </div>
    </article><article class="pinned-item position-relative left-0 top-0 width-340 display-inline-block height-100 pink vertical-align-top">
        <div class="overflow-scroll-y">
            <p>p2</p>
        </div>
    </article></div>
<div class="position-fixed top-100px left-100px">
<button onclick="javascript:window.wizerati.mod('models').itemsOfInterestModel.setMode('1'); window.wizerati.mod('layout').layoutCoordinator.applyLayout(window.wizerati.mod('layout').layoutCalculator.calculate());">
expand
</button>
<button onclick="javascript:window.wizerati.mod('models').itemsOfInterestModel.setMode('0'); window.wizerati.mod('layout').layoutCoordinator.applyLayout(window.wizerati.mod('layout').layoutCalculator.calculate());">
collapse
</button>
</div>
</body>
</html>
