<!DOCTYPE html>
<html>
<head>
    <!-- Copyright Ben Aston 2014. All rights reserved. -->
    <meta name="author" content="Ben Aston">
    <link rel="stylesheet" type="text/css" href="stylesheets/wizerati.css"/>
    <noscript>
        <link rel="stylesheet" type="text/css" href="stylesheets/noscript.css">
    </noscript>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-touch-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/apple-touch-icon-152.png">

    <title>Wizerati</title>
</head>
<body data-ui-mode="-1"><div class="modal-container"><div class="search-panel" data-mode="0">
        <div class="centered-text handle-search-panel btn-container handle-element">
            <a href="/searchpanelmode/update?mode=0" class="btn btn-primary btn-50 handle-element">&#xf264;</a><div class="label handle-element">show search & favorites</div>
        </div>
        <div id="search-form">
        </div>
        <!-- fav cube goes here -->
        <div class="navbar">
            <a class="btn-my-account" href="/user/show?id=userid">sign in</a> &nbsp;|&nbsp; <a href="/purchasepanel?tab=0" class="btn-advertisers">recruiters</a> <span class="legal"><span class="legal-logo">&#xf30c;</span> wizerati &copy; 2014</span>
        </div>
    </div><article class="result-list-panel green">
        <ul class="result-list overflow-scroll-y height-100 ios-scroll-enable">
        </ul>
    </article><div class="items-of-interest-panel"><div class="selected-item-container"><article class="selected-item">
        <div class="selected-item-content pink">
            <p>si</p>
        </div>
    </article></div><div class="pinned-items-container"><article class="pinned-item">
        <div class="pinned-item-content pink-2">
            <p>p1</p>
        </div>
    </article><article class="pinned-item">
        <div class="pinned-item-content pink-3">
            <p>p2</p>
        </div>
    </article><div class="handle-pinned-items btn-container">
                <a href="/itemsofinterestpanelmode/update?mode=1" class="btn btn-primary btn-50">&#xf264;</a><div class="label"></div>
            </div></div></div><div class="logo-image">&#xf30c;</div><h1 class="logo">wizerati</h1><h2 class="tag-line">UK IT contract jobs search</h2>
</div>
<!-- To inline all JavaScript here including underscore.js, you need to escape instances of angle-bracket - percent (by putting a backslash before the percent symbol) to avoid server-side templating causing an error -->
<script src="javascripts/wizerati.js"></script>
<div id="no-script">
    JavaScript must be enabled to use this website.
</div>
</body>
</html>
