<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/wizerati.css"/>
</head>
<body class="slate position-absolute height-100"><div class="blur-wrapper width-2233 blue height-100"><div class="search-panel overflow-hidden width-340 position-fixed top-0 left-0 red height-100">
        <div class="position-absolute">
            <p>search</p>
        </div>
    </div><article class="result-list position-relative left-0 top-0 width-533 display-inline-block height-100 margin-left-340 green">
        <div class="position-absolute">
            <p>r</p>
        </div>
    </article><article class="selected-item position-relative left-0 top-0 width-340 display-inline-block height-100 orange">
        <div class="position-absolute">
            <p>si</p>
        </div>
    </article><article class="pinned-item position-relative left-0 top-0 width-340 display-inline-block height-100 blue">
        <div class="position-absolute">
            <p>p1</p>
        </div>
    </article><article class="pinned-item position-relative left-0 top-0 width-340 display-inline-block height-100 pink">
        <div class="position-absolute">
            <p>p2</p>
        </div>
    </article></div></body>
</html>
