<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="stylesheets/foo.css"/>
    <title>Foo</title>
</head>
<body>
</body>
</html>