<!DOCTYPE html>
<html lang="en-GB">
<head>
    <!-- Copyright Ben Aston 2014. All rights reserved. -->
    <meta name="author" content="Ben Aston">
    <link rel="stylesheet" type="text/css" href="stylesheets/wizerati.css"/>
    <noscript>
        <link rel="stylesheet" type="text/css" href="stylesheets/noscript.css">
    </noscript>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-touch-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/apple-touch-icon-152.png">

    <title>Wizerati</title>
</head>
<body data-ui-mode="-1"><div class="modal-container"><div class="search-panel" data-mode="0">
        <div class="centered-text handle-search-panel btn-container handle-element">
            <a href="/searchpanelmode/update?mode=0" class="btn btn-primary btn-40 handle-element">&#xf264;</a><div class="label handle-element">show search & bookmarks</div>
        </div>
        <div id="search-form">
        </div>
        <!-- fav cube goes here -->
        <div class="navbar">
            <a class="btn-my-account" href="/user/show?id=userid">sign in</a> &nbsp;|&nbsp; <a href="/purchasepanel?tab=0" class="btn-advertisers">recruiters</a> <span class="legal"><span class="legal-logo">&#xf30c;</span> wizerati &copy; 2014</span>
        </div>
    </div><article class="result-list-panel ios-scroll-enable"><div class="result-list-search-summary-container"><div>345 results for "Dssnnsbns, London"</div></div><ul class="result-list"></ul></article><div class="items-of-interest-panel"><div class="selected-item-container"></div><div class="pinned-items-container"><div class="handle-pinned-items btn-container"><a href="/itemsofinterestpanelmode/update?mode=1" class="btn btn-primary btn-40">&#xf264;</a><div class="label"></div></div></div></div><h1 class="logo">wizerati</h1><h2 class="tag-line">UK IT contract job search</h2></div>
<!-- To inline all JavaScript here including underscore.js, you need to escape instances of angle-bracket - percent (by putting a backslash before the percent symbol) to avoid server-side templating causing an error -->
<script src="javascripts/wizerati.js"></script>
<div id="no-script">
    <div class="no-script-content">
        <div class="center-content">
            <div class="logo-image"></div>
            <h1>JavaScript is required.</h1>
            <p>To use Wizerati, enable JavaScript in your browser and try again.</p>
        </div>
        <footer>Copyright &copy; Wizerati 2014. All rights reserved.</footer>
    </div>
</div>
</body>
</html>
