<% try { %>
<div class="item-of-interest-width-maintainer">
    <div id="top1" class="in-page-anchor-target"></div>
    <section class="menu"><ul class="pips reset">
            <li><a>Pinned Item 1</a></li>
            <li><a>Pinned Item 2</a></li>
            <li><a>Pinned Item 3</a></li>
            <li><a>Pinned Item 4</a></li>
            <li><a>Pinned Item 5</a></li>
            <li><a>Pinned Item 6</a></li>
        </ul><div class="inline-block centered-text width-62"><a
                <%=(model.isFavoritable || model.isFavorite) ? 'href' : 'disabled'%>="/favorites/<%=model.isFavorite ? 'destroy' : 'create' %>?id=<%=model.id%>"
                class="btn btn-40 btn-primary <% if(!model.isFavoritable && !model.isFavorite) {%>disabled<%}%> <%=model.isFavorite ? 'is-favorite checked' : '' %> btn-favorite"
                title="<% if(model.isFavorite) {%>Remove favorite<%} else if(model.isFavoritable){ %> Add To Favourites <% } else { %>You have maxed out your favorites / You cannot favorite hidden items<% } %>">&#xe801;</a>
            <div class="label">favorite</div>
        </div><div class="inline-block centered-text width-62"><a

                <%=(model.isHideable || model.isHidden) ? 'href' : 'disabled'%>="/hiddenitems/<%=!model.isHidden ? 'create' : 'destroy' %>?id=<%=model.id%>"
                class="btn btn-40 btn-primary <%=(model.isHidden ? 'checked' : '')%> btn-hide <% if(!model.isHideable) {%>disabled <%}%>"

                    title="<%=model.isHideable ? 'Hide this from future results' : 'You cannot hide items that are favorites, are applied-for or are pinned' %>">&#xe802;</a>
            <div class="label">hide</div>
        </div><div class="inline-block centered-text width-62"><a
                <%=(model.isActionable || model.isActionable) ? 'href' : 'disabled'%>="/actioneditems/<%=!model.isActioned ? 'create' : 'destroy' %>?id=<%=model.id%>"
                class="btn btn-40 btn-primary <%=model.isActioned ? 'checked' : '' %> <%=model.isActionable ? '' : 'disabled' %>  btn-apply"
                title="<%=model.isActionable ? 'Apply for this job' : 'You cannot apply for hidden items' %>">&#xe803;</a>
            <div class="label">apply</div>
        </div><div class="inline-block centered-text width-62"><a
        <%=(model.isPinnable || model.isPinned) ? 'href' : 'disabled'%>="/itemsofinterest/<%=!model.isPinned ? 'create' : 'destroy' %>?id=<%=model.id%>"
        class="btn btn-40 btn-primary <%=model.isPinnable || model.isPinned ? '' : 'disabled' %> <% if(model.isPinned) {%>checked<%} %> btn-pin"
        title="<%=model.isPinnable ? 'Pin' : 'This item is already pinned / You have the maximum number of permitted pinned items / You cannot pin hidden items' %>">&#xe804;</a>
        <div class="label">pin to compare</div>
    </div>
    </section>
    <article class="item-of-interest-content <%=model.isHidden ? 'hidden' : '' %>">
        <section class="itemMetadata">
            <table class="table-bordered">
                <tr>
                        <td><div class="cell-content-container"><%= model.jobTitle %></div></td>
                        <td><div class="cell-content-container"><%= model.location %>, <%= model.country %></div></td>
                </tr>
                <tr>
                    <td><div class="cell-content-container"><%= model.rateLower %> - <%= model.rateUpper %> GBP/day</div></td>
                    <td><div class="cell-content-container"><%= model.industry %></div></td>
                </tr>
                <tr>
                    <td><div class="cell-content-container"><%= model.organization %></div></td>
                    <td><div class="cell-content-container">Updated <%= moment(model.updatedDateTime).fromNow() %></div></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="cell-content-container"><%= model.skills.split(',').map(function(s){ return '<code>' + s.trim() + '</code>'; }).join(' ') %></div></td>
                </tr>
            </table>
            <h1><%= model.title %></h1>
        </section>
        <section class="itemPrelim">
            <h3>Contact <%= model.contact %></h3>
            <h3><%= model.telephoneNumber %></h3>
            <!--<h3 class="updatedDateTime"></h3>-->
            <h3 class="id">Job ID: <%= model.id %></h3>
        </section>
        <section class="itemSummary">
            <p><blockquote><%= model.tld %></blockquote></p>
        </section>
        <section style="padding:0;margin:0;">
            <h2>Job Description</h2>
            <%= model.summary %>
        </section>
        <section style="padding:0;margin:0;">
            <h2>Skills</h2>
            <p><%= model.skills.split(',').map(function(s){ return '<code>' + s.trim() + '</code>'; }).join(' ') %></p>
        </section>
        <section style="padding:0;margin:0;">
            <h2>About</h2>
            <%= model.aboutOrganization %>
        </section>
        <section>
            <hr>
            <a href="#top1" data-bypass-router="true" class="back-to-top">Back to top</a>
        </section>
    </article>
</div>
<%
} catch(e) {
throw "template exception: item-of-interest. " + e;
}%>