/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    position: absolute;
    height: 100%;
}

.modal-container {
    height: 100%;
}

.search-panel {
    position: fixed;
    height: 100%;
    width: 340px;
    top: 0;
    left: 0;
    overflow: hidden;
    vertical-align: top;
}

.result-list {
    position: relative;
    height: 100%;
    width: 533px;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: 340px;
    vertical-align: top;
}

.selected-item, .pinned-item {
    position: relative;
    left: 0;
    top: 0;
    width: 0;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    transition: left .5s ease-in-out, -webkit-filter .3s linear .5s;
}

body[data-items-of-interest-mode='1'] .selected-item, body[data-items-of-interest-mode='1'] .pinned-item {
    transition: left .5s ease-in-out .3s, -webkit-filter .3s linear;
}

.selected-item-content, .pinned-item-content {
    width: 340px;
    overflow-y: scroll;
    height: 100%;
}

.pinned-item:nth-of-type(3) {
    z-index: 0;
}

.pinned-item:nth-of-type(4) {
    z-index: 1;
}

.pinned-item:nth-of-type(5) {
    z-index: 2;
}

.pinned-item:nth-of-type(6) {
    z-index: 3;
}

.pinned-item:nth-of-type(7) {
    z-index: 4;
}

.pinned-item:nth-of-type(8) {
    z-index: 5;
}

body[data-items-of-interest-mode='0'] .pinned-item:nth-of-type(3) {
    left: 10px;
}

body[data-items-of-interest-mode='0'] .pinned-item:nth-of-type(4) {
    left: 20px;
}

body[data-items-of-interest-mode='0'] .pinned-item:nth-of-type(5) {
    left: 30px;
}

body[data-items-of-interest-mode='0'] .pinned-item {
    -webkit-filter: blur(20px);
}

body[data-items-of-interest-mode='1'] .pinned-item:nth-of-type(3) {
    left: 340px;
}

body[data-items-of-interest-mode='1'] .pinned-item:nth-of-type(4) {
    left: 680px;
}

body[data-items-of-interest-mode='1'] .pinned-item:nth-of-type(5) {
    left: 1020px;
}

body[data-items-of-interest-mode='1'] .pinned-item:nth-of-type(6) {
    left: 1360px;
}





.display-inline-block {
    display: inline-block;
}

.flex, .display-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -webkit-align-content: stretch;
    -webkit-align-items: flex-start;
}

.absolute, .position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.transition-width {
    transition: width 2s ease-in-out;
}

.transition-margin {
    transition: margin 2s ease-in-out;
}

.transition-filter {
    transition: -webkit-filter 2s ease-in-out;
}

.transition-margin-width-filter {
    transition: margin 2s ease-in-out, width 2s ease-in-out, -webkit-filter 2s ease-in-out;
}

.flex-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.red {
    box-shadow: 0 0 0 4px red inset;
}

.yellow {
    box-shadow: 0 0 0 4px yellow inset;
}

.green {
    box-shadow: 0 0 0 4px green inset;
}

.blue {
    box-shadow: 0 0 0 4px blue inset;
}

.orange {
    box-shadow: 0 0 0 4px orange inset;
}

.pink {
    box-shadow: 0 0 0 4px lightpink inset;
}

.pink-1 {
    box-shadow: 0 0 0 4px pink inset;
}

.pink-2 {
    box-shadow: 0 0 0 4px hotpink inset;
}

.pink-3 {
    box-shadow: 0 0 0 4px deeppink inset;
}

.slate {
    box-shadow: 0 0 0 2px slategray inset;
}

.inline-block {
    display: inline-block;
}

.height-100 {
    height: 100%;
}

.padding-0 {
    padding: 0;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.margin-0 {
    margin: 0;
}

.margin-left-340 {
    margin-left: 340px;
}

.width-0 {
    width: 0;
}

.width-10 {
    width: 10px;
}

.width-100 {
    width: 100%;
}

.width-100px {
    width: 100px;
}

.width-140 {
    width: 140px;
}

.width-300 {
    width: 300px;
}

.width-340 {
    width: 340px;
}

.width-493 {
    width: 493px;
}

.width-533 {
    width: 533px;
}

.width-1000 {
    width: 1000px;
}

.width-1893 {
    width: 1893px;
}

.width-2233 {
    width: 2233px;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: visible;
}

.overflow-scroll-x, .overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-scroll-y {
    overflow-y: scroll;
}

.fixed, .position-fixed {
    position: fixed;
}

.vertical-align-top {
    vertical-align: top;
}

.left-100px {
    left: 100px;
}

.top-100px {
    top: 100px;
}

.bg-radial-white {
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, .8) 81%, rgba(255, 255, 255, 0) 100%);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, .8) 81%, rgba(255, 255, 255, 0) 100%);
}

.margin-left-140 {
    margin-left: 140px;
}

.margin-left-300 {
    margin-left: 300px;
}

.margin-left-340 {
    margin-left: 340px;
}

.background-white-translucent {
    background: rgba(255, 255, 255, .95);
}

.background-linear-blue {
    background: -webkit-radial-gradient(center, ellipse cover, rgba(33, 201, 253, 1) 0%, rgba(33, 201, 253, .7) 50%, rgba(27, 83, 238, 0) 100%);
    background: -moz-radial-gradient(center, ellipse cover, rgba(33, 201, 253, 1) 0%, rgba(33, 201, 253, .7) 50%, rgba(27, 83, 238, 0) 100%);
}

.background-linear-pink {
    background: -webkit-radial-gradient(center, ellipse cover, rgba(201, 33, 253, 1) 0%, rgba(201, 33, 253, .7) 50%, rgba(83, 27, 238, 0) 100%);
    background: -moz-radial-gradient(center, ellipse cover, rgba(201, 33, 253, 1) 0%, rgba(201, 33, 253, .7) 50%, rgba(83, 27, 238, 0) 100%);
}

.blur {
    -webkit-filter: blur(20px);
    /*filter:blur(20px);*/
}

.z-index-1 {
    z-index: 1;
}

.z-index-9999 {
    z-index: 9999;
}

.padding-horizontal-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.blur-temp {
    top: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
}
