<div id="job-adverts">
    <div class="application-period">
        <div class="application-period-summary">9 days ago</div>
        <ul id="job-advert-list">
            <li class="cv-i cv-i-new">
                <div class="cv">
                    <div class="title"><span class="ico">&#xf1c9;</span> Add Job Advert</div>
                    <hr/>
                </div>
            </li>
            <li class="application-i">
                <div class="application">
                    <div class="title">Senior Python / Oracle Developer</div>
                    <div class="added">Contact Anthony Dyer on +44 (0)7742 157 185 (ref. )</div>
                    <hr/>
                </div>
            </li>
            <li class="application-i">
                <div class="application">
                    <div class="title">C# Developer (Mid-level)</div>
                    <div class="added">Contact Anthony Dyer on +44 (0)7742 157 185 (ref. )</div>
                    <hr/>
                </div>
            </li>
        </ul>
    </div>
</div>