<div id="my-cvs">
    <div id="my-account-buttons-container-my-cvs">
        <div id="cancel-my-account-button-container">
            <div class="rotating-button-container">
                <!--<button type="submit" form="frm-cancel-my-account" id="btn-cancel-my-account" tabindex="1"-->
                <!--class="btn btn-s"></button>-->
                <!--<span class="focus-indicator"></span><span class="button-icon">cancel</span>-->
            </div>
        </div>
        <div id="save-my-account-button-container">
            <div class="rotating-button-container">
                <button type="submit" id="btn-save-my-account" tabindex="1"
                        class="btn btn-s btn-primary btn-rotating"
                        data-is-waiting="false"></button>
                <span class="focus-indicator"></span><span class="button-icon">edit</span>
            </div>
        </div>
    </div>
    <ul id="cv-list">
        <li class="cv-i cv-i-new">
            <div class="cv">
                <div class="title"><span class="ico">&#xf1c9;</span> Add CV</div>
                <hr/>
            </div>
        </li>
        <li class="cv-i">
            <div class="cv">
                <div class="title">Main CV <a href="#" class="download-link">download</a></div>
                <div class="added">3 days ago</div>
                <hr/>
            </div>
        </li>
        <li class="cv-i">
            <div class="cv">
                <div class="title">CTO CV <a href="#" class="download-link">download</a></div>
                <div class="added">5 days ago</div>
                <hr/>
            </div>
        </li>
    </ul>
    <!--<input id="file-cv" type="file" name="cv" />-->
</div>