<div id="billing">
    <div class="security-heading">
        Invoice History
    </div>
    <div class="application-period">
        <p>Invoices are emailed to ben@cloudsca.pe.</p>
        <table id="invoice-history">
            <thead>
            <tr>
                <th>Date</th>
                <th>Invoice Amount</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd" >
                <td>
                    21 Nov 10
                </td>
                <td>
                    £29.38
                </td>
                <td>
                    <a class="ico download-icon" href="/payments/payment/20216" title="Click to download invoice">&#xf173;</a>
                </td>
            </tr>
            <tr class="even">
                <td>
                    22 Jan 11
                </td>
                <td>
                    £30.00
                </td>
                <td>
                    <a class="ico download-icon" href="/payments/payment/20216" title="Click to download invoice">&#xf173;</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>