<div id="job-applications">
    <div class="application-period">
        <div class="application-period-summary">9 days ago</div>
        <ul id="application-list">
            <li class="application-i">
                <div class="application">
                    <div class="title">Senior Python / Oracle Developer</div>
                    <div class="added">Contact Anthony Dyer on +44 (0)7742 157 185 (ref. )</div>
                    <hr/>
                </div>
            </li>
            <li class="application-i">
                <div class="application">
                    <div class="title">C# Developer (Mid-level)</div>
                    <div class="added">Contact Anthony Dyer on +44 (0)7742 157 185 (ref. )</div>
                    <hr/>
                </div>
            </li>
        </ul>
    </div>
</div>