<div id="bookmark-panel-container" data-mode="0">
<div id="bookmark-panel">
<div class="bookmark-panel-summary">
    You have 34 bookmarks.
</div>
<div class="placeholder"></div>
<div class="bookmark-list-summary fixedheader">
    Bookmarks added today
</div>
<ul class="bookmark-list">
<li class="t t-219 selected" data-id="GUID1" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID1&amp;source=0">
<span class="c">
<h3>Senior Python / Oracle Developer</h3>
<p class="tld">Come help us build awesome web applications in the banking sector.</p>
<p class="rate">500 GBP/day</p>
<p class="location-and-posted">London (a month ago)</p>
</span>
    </a>


</li>
<li class="t t-219" data-id="GUID2" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID2&amp;source=0">
<span class="c">
<h3>C# Developer (Mid-level)</h3>
<p class="tld">My client who is seeking a talented C# Developer, is a leader and pioneer in making social games with
    offices and players all around the world. They’re committed to delivering casual, social games that have connected
    over 40 million players with over 3 billion game plays.</p>
<p class="rate">700 GBP/day</p>
<p class="location-and-posted">Paris (a month ago)</p>
</span>
    </a>


</li>
<li class="t t-219" data-id="GUID3" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID3&amp;source=0">
<span class="c">
<h3>C# HTML JavaScript CSS Developer - Fixed Income</h3>
<p class="tld">Senior C# Web Developer required for a Greenfield Fixed Income Front Office trading development team.</p>
<p class="rate">475 GBP/day</p>
<p class="location-and-posted">Bruges (a month ago)</p>
</span>
    </a>


</li>
<li class="t t-219" data-id="GUID5" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID5&amp;source=0">
<span class="c">
<h3>SQL Developer - C# - Market Risk - Banking</h3>
<p class="tld">A major investment bank has an opportunity for a high calibre developer to join their Market Risk
    technology group in a challenging role.</p>
<p class="rate">450 GBP/day</p>
<p class="location-and-posted">Diekirch (a month ago)</p>
</span>
    </a>


</li>
</ul>
<div class="placeholder"></div>
<div class="bookmark-list-summary fixedheader">
    Bookmarks added yesterday
</div>
<ul class="bookmark-list ios-scroll-enable">
<li class="t t-219" data-id="GUID6" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID6&amp;source=0">
<span class="c">
<h3>Greenfield WPF developer, banking, London</h3>
<p class="tld">A very high profile client of ours Bank is seeking an expert senior C# Developer to lead a Pure
    GREENFIELD PROJECT using latest Microsoft tech.</p>
<p class="rate">500 GBP/day</p>
<p class="location-and-posted">London (2 months ago)</p>
</span>
    </a>


</li>
<li class="t t-219" data-id="GUID7" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID7&amp;source=0">
<span class="c">
<h3>Head of Web Development</h3>
<p class="tld">Our client, a market leading retail brand, seeks an interim Head of Web Development to head and develop a
    team of 15 technical developers.</p>
<p class="rate">400 GBP/day</p>
<p class="location-and-posted">London (a month ago)</p>
</span>
    </a>


</li>
</ul>
<div class="bookmark-list-summary">
    Bookmarks added Saturday
</div>
<ul class="bookmark-list ios-scroll-enable">
<li class="t t-219" data-id="GUID8" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID8&amp;source=0">
<span class="c">
<h3>Salesforce Developer/Consultant</h3>
<p class="tld">As an upcoming major player in the online services industry, this business is breaking tradition and
    changing the way consumers access their products.</p>
<p class="rate">400 GBP/day</p>
<p class="location-and-posted">London (a month ago)</p>
</span>
    </a>


</li>
<li class="t t-219" data-id="GUID9" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID9&amp;source=0">
<span class="c">
<h3>JavaScript Developer - JavaScript, Node.js</h3>
<p class="tld">JavaScript Developer with JavaScript and Node.js experience urgently required to join a Ecommerce /
    world-leading broadcasting company based in their Stevenage office.</p>
<p class="rate">400 GBP/day</p>
<p class="location-and-posted">Stevenage (a month ago)</p>
</span>
    </a>


</li>
<li class="t t-219" data-id="GUID10" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID10&amp;source=0">
<span class="c">
<h3>Node.JS Developer</h3>
<p class="tld">My client in Central London is seeking a full stack Node.js developer to join their ever growing web team
    on an initial 6 month contract with major potential to extend with the project being in its early stages.</p>
<p class="rate">500 GBP/day</p>
<p class="location-and-posted">Central London (a month ago)</p>
</span>
    </a>


</li>
<li class="t t-219" data-id="GUID11" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID11&amp;source=0">
<span class="c">
<h3>Senior Software Engineer</h3>
<p class="tld">We're looking to invite an exceptionally talented and passionate software engineer, to join our team of
    professionals in building the next generation of our Software Applications.</p>
<p class="rate">500 GBP/day</p>
<p class="location-and-posted">City of London (a month ago)</p>
</span>
    </a>


</li>
<li class="t t-219" data-id="GUID12" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID12&amp;source=0">
<span class="c">
<h3>Java Developer</h3>
<p class="tld">Global company with large IT development offices in London are looking for 2 strong, Java Developers to
    join their established engineering team using cutting edge technologies and methodologies to develop bespoke
    software in their research and development team.</p>
<p class="rate">425 GBP/day</p>
<p class="location-and-posted">London (a month ago)</p>
</span>
    </a>


</li>
<li class="t t-219" data-id="GUID13" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID13&amp;source=0">
<span class="c">
<h3>Senior Java Developer</h3>
<p class="tld">The company is seeking to expand their London offices and this vacancy is for someone with an excellent
    academic record, a proven track record in Java and algorithm development and ideally a background in Linux. You will
    be given hands on managerial experience and the chance to grow an already award-winning product.</p>
<p class="rate">490 GBP/day</p>
<p class="location-and-posted">London (a month ago)</p>
</span>
    </a>


</li>
<li class="t t-219" data-id="GUID14" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID14&amp;source=0">
<span class="c">
<h3>Senior Java Developer</h3>
<p class="tld">The company is seeking to expand their London offices and this vacancy is for someone with an excellent
    academic record, a proven track record in Java and algorithm development and ideally a background in Linux. You will
    be given hands on managerial experience and the chance to grow an already award-winning product.</p>
<p class="rate">490 GBP/day</p>
<p class="location-and-posted">London (a month ago)</p>
</span>
    </a>


</li>
<li class="t t-219" data-id="GUID15" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID15&amp;source=0">
<span class="c">
<h3>Senior Java Developer</h3>
<p class="tld">The company is seeking to expand their London offices and this vacancy is for someone with an excellent
    academic record, a proven track record in Java and algorithm development and ideally a background in Linux. You will
    be given hands on managerial experience and the chance to grow an already award-winning product.</p>
<p class="rate">490 GBP/day</p>
<p class="location-and-posted">London (a month ago)</p>
</span>
    </a>


</li>
<li class="t t-219" data-id="GUID16" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID16&amp;source=0">
<span class="c">
<h3>Senior Java Developer</h3>
<p class="tld">The company is seeking to expand their London offices and this vacancy is for someone with an excellent
    academic record, a proven track record in Java and algorithm development and ideally a background in Linux. You will
    be given hands on managerial experience and the chance to grow an already award-winning product.</p>
<p class="rate">490 GBP/day</p>
<p class="location-and-posted">London (a month ago)</p>
</span>
    </a>


</li>
<li class="t t-219" data-id="GUID17" data-is-unread="true" data-is-actioned="false" data-is-pinned="false">

    <div class="icon-container">
        <i class="ti is-unread"></i>
        <i class="ti actioned"></i>
        <i class="ti is-favorite"></i>
        <i class="ti ti-pinned is-pinned"></i>
    </div>
    <a tabindex="1" href="/selecteditem/update?id=GUID17&amp;source=0">
<span class="c">
<h3>Senior Java Developer</h3>
<p class="tld">The company is seeking to expand their London offices and this vacancy is for someone with an excellent
    academic record, a proven track record in Java and algorithm development and ideally a background in Linux. You will
    be given hands on managerial experience and the chance to grow an already award-winning product.</p>
<p class="rate">490 GBP/day</p>
<p class="location-and-posted">London (a month ago)</p>
</span>
    </a>


</li>
</ul>
</div>
</div>