<section id="favorites-cube" class="cube-container hide" data-mode="0">
    <div class="cube-controls" data-active-faces="100000">
        <div class="face-selector-container">
            <a class="face-selector" href="/selectedcubeface/update?id=0"><span class="face-usage-indicator"><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div></span></a>
            <a href="/deletefavoritegroupconfirmationdialog?id=0" class="btn-delete-face-selector" alt="Delete this group of favorites" title="Delete this group of favorites">-</a>
        </div>
        <div class="face-selector-container">
            <a class="face-selector" href="/selectedcubeface/update?id=1"><span class="face-usage-indicator"><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div></span></a>
            <a href="/deletefavoritegroupconfirmationdialog?id=1" class="btn-delete-face-selector" alt="Delete this group of favorites" title="Delete this group of favorites">-</a>
        </div>
        <div class="face-selector-container">
            <a class="face-selector" href="/selectedcubeface/update?id=2"><span class="face-usage-indicator"><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div></span></a>
            <a href="/deletefavoritegroupconfirmationdialog?id=2" class="btn-delete-face-selector" alt="Delete this group of favorites" title="Delete this group of favorites">-</a>
        </div>
        <div class="face-selector-container">
            <a class="face-selector" href="/selectedcubeface/update?id=3"><span class="face-usage-indicator"><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div></span></a>
            <a href="/deletefavoritegroupconfirmationdialog?id=3" class="btn-delete-face-selector" alt="Delete this group of favorites" title="Delete this group of favorites">-</a>
        </div>
        <div class="face-selector-container">
            <a class="face-selector" href="/selectedcubeface/update?id=4"><span class="face-usage-indicator"><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div></span></a>
            <a href="/deletefavoritegroupconfirmationdialog?id=4" class="btn-delete-face-selector" alt="Delete this group of favorites" title="Delete this group of favorites">-</a>
        </div>
        <div class="face-selector-container">
            <a class="face-selector" href="/selectedcubeface/update?id=5"><span class="face-usage-indicator"><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div><div class="spot"></div></span></a>
            <a href="/deletefavoritegroupconfirmationdialog?id=5" class="btn-delete-face-selector" alt="Delete this group of favorites" title="Delete this group of favorites">-</a>
        </div>
        <a class="face-selector btn-add-active-cube-face" href="/favoritegroup/create" title="Add another group of favorites" alt="Add another group of favorites">+</a>
    </div>
    <div class="cube">
        <figure class="top">
            <p class="face-empty-message">you have no favourites on this face</p>
            <div class="favourites">
            </div>
        </figure>
        <figure class="left">
            <p class="face-empty-message">you have no favourites on this face</p>
            <div class="favourites">
            </div>
        </figure>
        <figure class="front">
            <p class="face-empty-message">you have no favourites on this face</p>
            <div class="favourites">
            </div>
        </figure>
        <figure class="right">
            <p class="face-empty-message">you have no favourites on this face</p>
            <div class="favourites">
            </div>
        </figure>
        <figure class="bottom">
            <p class="face-empty-message">you have no favourites on this face</p>
            <div class="favourites">
            </div>
        </figure>
        <figure class="back">
            <p class="face-empty-message">you have no favourites on this face</p>
            <div class="favourites">
            </div>
        </figure>
    </div>
    <a class="favorites-cube-edit-link" href="/favoritescubemode/update?mode=1">edit</a>
    <ol class="cube-face-labels">
        <li for="f-t">

        </li>
        <li for="f-l"></li>
        <li for="f-f"></li>
        <li for="f-r"></li>
        <li for="f-bottom"></li>
        <li for="f-back"></li>
    </ol>

</section>