<div class="items-of-interest-panel">
    <div id="selected-item-container-1" class="selected-item-container"></div><div id="selected-item-container-2" class="selected-item-container"></div>
    <div class="pinned-items-container">
        <div class="handle-pinned-items btn-container"><a href="/itemsofinterestpanelmode/update?mode=1"
                                                          class="btn btn-primary btn-40">&#xf264;</a>

            <div class="label"></div>
        </div>
    </div>
</div>