<nav id="nav-panel">
    <a class="home-link">wizerati</a>
    <div class="centered-text handle-search-panel btn-container handle-element">
        <button id="btn-update-search-panel-mode" class="btn btn-40 btn-primary handle-element" title="show search" form="search-formm" >
            &#xf1da;</button>
        <label class="handle-search-panel-label handle-element label" for="btn-update-search-panel-mode">search</label>
    </div>
    <div class="centered-text handle-bookmark-panel btn-container handle-element">
        <form method="POST" action="/bookmarks">
            <input type="hidden" name="navbarItem" value="1">
            <button id="btn-update-bookmark-panel-mode" class="btn btn-40 btn-primary handle-element" title="bookmarks">
                &#xf26b;</button>
            <label class="handle-search-panel-label handle-element label" for="btn-update-bookmark-panel-mode">bookmarks</label>
        </form>
    </div>
    <div class="centered-text handle-comparison-list btn-container handle-element">
        <form method="POST" action="/selectednavbaritem/update">
            <input type="hidden" name="navbarItem" value="2">
            <button id="btn-update-items-of-interest-panel-mode" class="btn btn-40 btn-primary handle-element" title="comparison list">
                &#xf30e;</button>
            <label class="handle-search-panel-label handle-element label" for="btn-update-items-of-interest-panel-mode">comparison list</label>
        </form>
    </div>
    <div class="nav-item-sign-out centered-text  btn-container">
        <form method="POST" action="/session/destroy">
            <input type="hidden" name="mode" value="0">
            <button id="btn-update-search-panel-mode" class="btn btn-40 btn-primary handle-element" title="sign out">
                &#xf315;</button>
            <label class="handle-search-panel-label handle-element label" for="btn-update-search-panel-mode">sign out</label>
        </form>
    </div>
</nav>