<div id="no-compatibility">
    <div class="no-compatibility-content">
        <div class="center-content">
            <!--<div class="logo-image"></div>-->
            <h1>This browser is not yet supported.</h1>
            <p>To use Wizerati use one of the following browsers:</p>
            <ul>
                <li>Chrome 30+</li>
                <li>Safari (OSX Mavericks)</li>
                <li>Safari (iPad iOS 7)</li>
                <li>Opera 20+</li>
            </ul>
        </div>
        <footer>Copyright &copy; Wizerati 2014. All rights reserved. ( @@build )</footer>
    </div>
</div>