<nav id="tab-bar" data-selected-tab="0">
    <ul>
        <li>
            <a class="h">wizerati</a>
        </li>
        <li class="i">
            <a href="/search" class="btn btn-40 btn-primary" title="search">
                <span class="ico">&#xf1da;</span>
                <span class="lbl">search</span>
            </a>
        </li>
        <li class="i">
            <a href="/bookmarks" class="btn btn-40 btn-primary" title="bookmarks">
                <span class="ico">&#xf26b;</span>
                <span class="lbl">bookmarks</span>
            </a>
        </li>
        <li class="i">
            <a href="/comparisonlist" class="btn btn-40 btn-primary" title="comparison list">
                <span class="ico">&#xf30e;</span>
                <span class="lbl">comparison list</span>
            </a>
        </li>
        <li class="i-sign-out">
            <a href="/session/destroy" class="btn btn-40 btn-primary" title="sign out">
                <span class="ico">&#xf317;</span>
                <span class="lbl">sign out</span>
            </a>
        </li>
    </ul>
</nav>