<nav id="tab-bar" data-selected-tab="0">
    <h1><a href="/" class="h" data-bypass-router="true">Wizerati</a></h1>
    <ul>
        <li class="i">
            <form action="/search" method="GET">
                <button id="btn-nav-search" class="btn btn-s" title="search">&#xf1da;</button>
                <label for="btn-nav-search" class="lbl">Search</label>
            </form>
        </li>
        <li class="i">
            <form action="/bookmarks" method="GET">
                <button id="btn-nav-bookmarks" class="btn btn-s" title="bookmarks">&#xf26b;</button>
                <label for="btn-nav-bookmarks" class="lbl">Bookmarks</label>
            </form>
        </li>
        <li class="i">
            <form action="/comparisonlist" method="GET">
                <button id="btn-nav-comparison-list" class="btn btn-s" title="comparison list" data-count="">&#xf30e;</button>
                <label for="btn-nav-comparison-list" class="lbl">Compare List</label>
            </form>
        </li>
        <li class="i">
            <form action="/account" method="GET">
                <button id="btn-nav-my-account" class="btn btn-s" title="my account" data-count="">&#xf1c1;</button>
                <label for="btn-nav-my-account" class="lbl">Account</label>
            </form>
        </li>
        </ul>
    <ul>
        <li class="i-sign-out">
            <form action="/modal?id=1" method="GET">
                <button id="btn-nav-sign-out" class="btn btn-s" title="sign in">&#xf315;</button>
                <label for="btn-nav-sign-out" class="lbl">Sign In</label>
            </form>
        </li>
    </ul>
</nav>