body {
    position: absolute;
    height: 100%;
}

.modal-container {
    height: 100%;
}

.search-panel {
    position: fixed;
    height: 100%;
    width: 340px;
    top: 0;
    left: 0;
    overflow: hidden;
    vertical-align: top;
}

.result-list {
    position: relative;
    height: 100%;
    width: 533px;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: 340px;
    vertical-align: top;
}

.selected-item, .pinned-item {
    position: relative;
    left: 0;
    top: 0;
    width: 0;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    transition: left .5s ease-in-out .3s, -webkit-filter .3s linear;
}

body[data-items-of-interest-mode='1'] .selected-item, body[data-items-of-interest-mode='1'] .pinned-item {
    transition: left .5s ease-in-out, -webkit-filter .3s linear .5s;
}

.selected-item-content, .pinned-item-content {
    width: 340px;
    overflow-y: scroll;
    height: 100%;
}

.pinned-item:nth-of-type(3) {
    z-index: 0;
}

.pinned-item:nth-of-type(4) {
    z-index: 1;
}

.pinned-item:nth-of-type(5) {
    z-index: 2;
}

.pinned-item:nth-of-type(6) {
    z-index: 3;
}

.pinned-item:nth-of-type(7) {
    z-index: 4;
}

.pinned-item:nth-of-type(8) {
    z-index: 5;
}

body[data-items-of-interest-mode='0'] .pinned-item:nth-of-type(3) {
    left: 10px;
}

body[data-items-of-interest-mode='0'] .pinned-item:nth-of-type(4) {
    left: 20px;
}

body[data-items-of-interest-mode='0'] .pinned-item:nth-of-type(5) {
    left: 30px;
}

body[data-items-of-interest-mode='0'] .pinned-item {
    -webkit-filter: blur(20px);
}

body[data-items-of-interest-mode='1'] .pinned-item:nth-of-type(3) {
    left: 340px;
}

body[data-items-of-interest-mode='1'] .pinned-item:nth-of-type(4) {
    left: 680px;
}

body[data-items-of-interest-mode='1'] .pinned-item:nth-of-type(5) {
    left: 1020px;
}

body[data-items-of-interest-mode='1'] .pinned-item:nth-of-type(6) {
    left: 1360px;
}


