.three-d-context {
    -webkit-perspective: 4000;
}

.front {
    z-index: 900;
    -webkit-transition: opacity 0s linear 0s, z-index 0s linear 0s, -webkit-transform .35s ease-out;
    -webkit-transform: rotateY(0deg);
    opacity: 1;
    -webkit-backface-visibility: hidden;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.back {
    z-index: 800;
    -webkit-transition: z-index 0s linear .25s, -webkit-transform .35s ease-out;
    -webkit-transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
}

.login-panel.three-d-context.flipped .front {
    -webkit-transform: rotateY(180deg);
}

.three-d-context.flipped .front {
    z-index: 800;
    -webkit-transition: opacity .25s linear 0s, z-index 0s linear .25s, -webkit-transform .35s ease-out;
    -webkit-transform: rotateY(-180deg);
    opacity: 0;
    -webkit-backface-visibility: hidden;
}

.three-d-context.flipped .back {
    z-index: 900;
    -webkit-transition: opacity .25s linear 0s, z-index 0s linear .25s, -webkit-transform .35s ease-out;
    -webkit-transform: rotateY(0deg);
    -webkit-backface-visibility: hidden;
}

