
.items-of-interest-panel {
    position: relative;
    display: inline-block;
    height: 100%; /*limits height of items of interest, forcing overflow:scroll*/
    z-index: 0;
    opacity: 0;
}

body[data-ui-mode='1']:not([data-are-transitions-enabled='false']) .items-of-interest-panel {
    transition: opacity .1s ease-out, -webkit-transform .2s ease-out;
}

body[data-ui-mode='1'] .items-of-interest-panel {
    opacity: 1;
}

.search-panel[data-mode='1'] ~ .items-of-interest-panel {
    -webkit-transform: translate(-266px, 0);
}

body:not(.suppress-transitions) .search-panel[data-mode='0'] ~ .result-list-panel[data-mode='1'] ~ .items-of-interest-panel {
    /*transition: -webkit-transform .2s ease-out;*/
}

.search-panel[data-mode='0'] ~ .result-list-panel[data-mode='1'] ~ .items-of-interest-panel {
    -webkit-transform: translate(-420px, 0); /*420 (result list effective width)*/
    /*transition: -webkit-transform .2s ease-out;*/
}

.search-panel[data-mode='1'] ~ .result-list-panel[data-mode='1'] ~ .items-of-interest-panel {
    -webkit-transform: translate(-686px, 0); /*420 (result list effective width) +274 (search panel effective width)*/
    /*transition: -webkit-transform .2s ease-out;*/
}

.selected-item, .pinned-item {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    vertical-align: top;
    /*transition: left .5s ease-in-out .3s, -webkit-filter .2s linear;*/
}

.selected-item, .pinned-item {
    /*transition: left .5s ease-in-out .3s, -webkit-filter .2s linear;*/
}

body[data-items-of-interest-mode='1']:not(.suppress-transitions) .selected-item, body[data-items-of-interest-mode='1'] .pinned-item {
    /*transition: left .5s ease-in-out, -webkit-filter .3s linear .5s;*/
}

body:not([data-are-transitions-enabled='false']) .selected-item-content, .pinned-item-content {
    transition: width .2s ease-out;
}

.selected-item-content, .pinned-item-content {
    width: 340px;
    overflow-y: scroll;
    height: 100%;
    background-color: white; /*should be removed if going with the blur approach*/
    -webkit-overflow-scrolling: touch;
}

.selected-item {
    z-index: 6;
}

.pinned-item:nth-of-type(1) {
    z-index: 5;
}

.pinned-item:nth-of-type(2) {
    z-index: 4;
}

.pinned-item:nth-of-type(3) {
    z-index: 3;
}

.pinned-item:nth-of-type(4) {
    z-index: 2;
}

.pinned-item:nth-of-type(5) {
    z-index: 1;
}

.pinned-item:nth-of-type(6) {
    z-index: 0;
}

/*attempt to only blur out when a selected item is present*/
body[data-items-of-interest-mode='0'] .selected-item-container:not(:empty) + .pinned-items-container .pinned-item:nth-child(2),
body[data-items-of-interest-mode='0'] .pinned-item:nth-child(3),
body[data-items-of-interest-mode='0'] .pinned-item:nth-child(4),
body[data-items-of-interest-mode='0'] .pinned-item:nth-child(5),
body[data-items-of-interest-mode='0'] .pinned-item:nth-child(6),
body[data-items-of-interest-mode='0'] .pinned-item:nth-child(7) {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.collapsed > .selected-item-content {
    width: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

/* Items of interest panel */
.pinned-items-container, .selected-item-container {
    position: relative;
    display: inline-block;
    height: 100%; /*limits height of items of interest, forcing overflow:scroll*/
    vertical-align: top; /*important*/
}

.menu {
    margin-right: 0;
    margin-top: 0;
    padding-top: 7px;
}

.menu .centered-text {
    vertical-align: top;
}

.menu .is-favorite {
    color: white;
}

.items-of-interest-panel .menu {
    text-align: right;
}

.table-location-industry {
    margin-left: 20px;
}

.table-title-rate, .table-location-industry {
    font-size: .95rem;
}

.table-container {
    min-width: 358px;
    text-align: right;
}

.selected-item .table-bordered, .pinned-item .table-bordered {
    margin-top: 0;
    border: 0;
    display: inline-block;
}

.skills {
    display: block;
    min-width: 300px;
    text-align: right;
}

.selected-item table td:nth-of-type(1):nth-last-of-type(2),
.pinned-item table td:nth-of-type(1):nth-last-of-type(2) {
    width: 50%;
    text-align: right;
    padding-right: 31px;
}

.itemMetadata, .itemMetadata code {
    color: #999;
}

.contact {
    font-size: .95rem;
    text-align: right;
    margin-bottom: 7px;
}

.id {
    text-align: right;
}

.itemMetadata {
    margin: 5px 0 8px 0;
}

.selected-item .table-bordered td,
.pinned-item .table-bordered td {
    padding: 3px;
    text-align: right;
}

.selected-item table td:nth-of-type(2):nth-last-of-type(1),
.pinned-item table td:nth-of-type(2):nth-last-of-type(1) {
    width: 50%;
    text-align: left;
    padding-left: 31px;
}

.item-of-interest table {
    width: 100%;
    max-width: 600px;
}

.description {
    float: left;
}

.menu-item {
    width: 76px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.item-of-interest-content {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.selected-top {
    background: rgba(0, 0, 0, .1);
    box-shadow: 0px -15px 0 25px rgba(0, 0, 0, .1);
}

.ios-scroll-enable {
    -webkit-overflow-scrolling: touch;
}

*[data-is-waiting='success'] .btn-success, *[data-is-waiting='primary'] .btn-primary {
    border: 1px solid rgba(2, 86, 244, .9);
    border-left: 0;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.t .is-favorite {
    color: silver;
    font-size: 1.5rem;
}

a.hidden {
    opacity: .3;
}

a.hidden:before {
    position: absolute;
    left: 75px;
    top: 19px;
    display: block;
    font-family: glyph;
    content: '\e802';
    font-size: 4rem;
    font-weight: 700;
    color: rgba(0, 0, 0, .2);
    -webkit-transform: rotate(-45deg);
}

body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-selected-item-count='1'][data-pinned-item-count='1'] .pinned-item-content,
body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-selected-item-count='1'][data-pinned-item-count='1'] .selected-item-content,
body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-pinned-item-count='2'] .pinned-item-content,
body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-pinned-item-count='3'] .pinned-item-content,
body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-pinned-item-count='4'] .pinned-item-content,
body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-pinned-item-count='5'] .pinned-item-content,
body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-pinned-item-count='6'] .pinned-item-content,
body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-pinned-item-count='7'] .pinned-item-content,
body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-pinned-item-count='2'] .selected-item-content,
body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-pinned-item-count='3'] .selected-item-content,
body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-pinned-item-count='4'] .selected-item-content,
body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-pinned-item-count='5'] .selected-item-content,
body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-pinned-item-count='6'] .selected-item-content,
body[data-items-of-interest-mode='0'] .items-of-interest-panel[data-pinned-item-count='7'] .selected-item-content,
body[data-items-of-interest-mode='1'] .pinned-item:last-child .pinned-item-content {
    padding-right: 69px; /*enable blur to spread out to the right, avoiding hard cut-off*/
}

.items-of-interest-panel[data-pinned-item-count='2'] .handle-pinned-items,
.items-of-interest-panel[data-pinned-item-count='3'] .handle-pinned-items,
.items-of-interest-panel[data-pinned-item-count='4'] .handle-pinned-items,
.items-of-interest-panel[data-pinned-item-count='5'] .handle-pinned-items,
.items-of-interest-panel[data-pinned-item-count='6'] .handle-pinned-items,
.items-of-interest-panel[data-pinned-item-count='7'] .handle-pinned-items,
.items-of-interest-panel[data-selected-item-count='1'][data-pinned-item-count='1'] .handle-pinned-items {
    opacity: 1;
}

.btn-hide {
    -webkit-transform: rotate(-45deg);
}

.handle-pinned-items .btn {
    color: rgba(0, 109, 204, 0.95);
}

.handle-pinned-items {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 69px;
    text-align: center;
    color: #333;
    text-decoration: none;
    opacity: 0;
    cursor: pointer;
    overflow: visible;
    margin: 5px 0 0 0;
    z-index: 99999; /*ensure in-front of all pinned items*/
}

.menu-and-metadata-container {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    min-width: 305px;
}

/*"narrow screen" devices like iphone*/
@media only screen
and (max-width: 568px) {
    .menu-and-metadata-container {
        min-width: 120px;
    }

    .menu-item {
        width: 82px; /*force two up/two down for aesthetic*/
    }
}

#selected-item-container-2 {
    background: blue;
}
