.handle-bookmarks-panel {
    display: inline-block;
    margin: 20px 0 20px 0;
    width: 74px;
    color: #333;
    text-decoration: none;
    z-index: 2;
    -webkit-transform: scale(1);
    -webkit-backface-visibility: hidden; /*this fixes a chrome bug whereby the content remains blurry after the filter transition is complete*/
}

.search-panel[data-mode='0'] .handle-bookmarks-panel {
    -webkit-filter: opacity(0%);
    pointer-events: none;
}

.search-panel[data-mode='1'] .handle-bookmarks-panel {
    /*opacity: 1;*/
    -webkit-filter: opacity(100%);
    pointer-events: auto;
}

.handle-bookmarks-panel-label {
    padding: 0 1px 0 1px;
}
