body[data-ui-mode='1'][data-are-transitions-enabled='true'] #items-of-interest-panel {
    transition: -webkit-transform 2s cubic-bezier(0.2,0.3,0.25,0.9); /*for sliding whole lot when moving between comparison list states*/
}

.selected-item-content, .pinned-item-content {
    transition: -webkit-transform 2s cubic-bezier(0.2,0.3,0.25,0.9), width 1s cubic-bezier(0.2,0.3,0.25,0.9) 2.5s; /*DELAY - IMPORTANT that is longer than the duration of the preceding animation to avoid Safari rendering flash. Reduce JANK that occurs when animating concurrently. For sliding of individual selected item or pinned items*/
}

#items-of-interest-panel {
    position: relative;
    display: inline-block;
    height: 100%; /*limits height of items of interest, forcing overflow:scroll*/
    z-index: 0; /*4=tab-bar, 3=search-form-panel, 2=bookmarks-panel, 1=result-list-panel, 0=ioi-panel*/
    -webkit-transform: translate3d(554px, 0, 0); /*needed because both bookmarks and result list are in containers of width 0. translate3d might be more performant than translate*/
    opacity: 0;
}

body[data-items-of-interest-mode='1'] #items-of-interest-panel {
    -webkit-transform: translate3d(74px, 0, 0);
}

body[data-items-of-interest-mode='1'] .selected-item-content {
    /*must be applied to an element with a width - hence the content*/
    -webkit-transform: translate3d(-100%, 0, 0);
}

.menu .btn-40.checked {
    background: rgba(14, 17, 19, 1);
    color: rgba(126, 157, 173, 1);
}

.menu .btn-40 {
    position: relative; /*ensure focus indicator works as expected*/
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, .2);
}

body[data-hover-is-enabled='true'] .menu .btn-40:hover {
    box-shadow: #f5f5f5 0 0 8px 0;
}

.menu .btn-40 ~ .lbl {
    color: whitesmoke;
    position: absolute;
    top: -5px;
    right: 45px;
}

body[data-ui-mode='1'] #items-of-interest-panel {
    opacity: 1;
}

.search-panel[data-mode='1'] ~ #items-of-interest-panel {
    -webkit-transform: translate(-340px, 0);
}

.search-panel[data-mode='0'] ~ .result-list-panel[data-mode='1'] ~ #items-of-interest-panel {
    -webkit-transform: translate(-494px, 0); /*420 (result list effective width)*/
}

.search-panel[data-mode='1'] ~ .result-list-panel[data-mode='1'] ~ #items-of-interest-panel {
    -webkit-transform: translate(-760px, 0); /*420 (result list effective width) +340 (search panel effective width)*/
}

.s-i-c {
    z-index: 1; /*must remain infront of pinned items*/
}

#p-i-c, .s-i-c {
    position: relative;
    display: inline-block;
    height: 100%; /*limits height of items of interest, forcing overflow:scroll*/
    vertical-align: top; /*important*/
    -webkit-filter: opacity(100%);
}

#p-i-c.buffer, .s-i-c.buffer {
    pointer-events: none;
    -webkit-filter: opacity(0);
}

.selected-item .i-o-i-c > :not(.menu-container),
.pinned-item .i-o-i-c > :not(.menu-container),
.pinned-item .i-o-i-c .item-metadata {
    -webkit-filter: opacity(100%);
    transition: -webkit-filter .2s ease-out;
    z-index: -1; /*required to circumvent transform z-index bug in webkit when transforms applied*/
    -webkit-backface-visibility: hidden; /*this fixes a chrome bug whereby the content remains blurry after the filter transition is complete*/
}

.selected-item.hidden .i-o-i-c > :not(.menu-container),
.pinned-item.hidden .i-o-i-c > :not(.menu-container),
.selected-item.hidden .i-o-i-c .item-metadata,
.pinned-item.hidden .i-o-i-c .item-metadata {
    -webkit-filter: opacity(10%);
    transition: -webkit-filter .2s ease-out;
}

.selected-item, .pinned-item {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    vertical-align: top;
    /*the following two styles stop a rendering issue in safari (flicker of unrendered content)*/
    -webkit-transform: scale(1); /*required to circumvent transform z-index bug in webkit when transforms applied*/
}

.selected-item-content, .pinned-item-content {
    width: 340px;
    overflow-y: scroll;
    height: 100%;
    background-color: white; /*should be removed if going with the blur approach*/
    -webkit-overflow-scrolling: touch;
}

.pinned-item:not(:last-child) .pinned-item-content {
    box-shadow: 1px 0 1px -1px #0c0917;
}

.selected-item {
    z-index: 6;
}

.pinned-item:nth-of-type(1) {
    z-index: 5;
}

.pinned-item:nth-of-type(2) {
    z-index: 4;
}

.pinned-item:nth-of-type(3) {
    z-index: 3;
}

.pinned-item:nth-of-type(4) {
    z-index: 2;
}

.pinned-item:nth-of-type(5) {
    z-index: 1;
}

.pinned-item:nth-of-type(6) {
    z-index: 0;
}

.collapsed > .selected-item-content {
    width: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.menu {
    display: block; /*required to ensure full width of item is used*/
    margin-right: 10px;
    margin-top: 0;
    padding-top: 0px;
    -webkit-user-select: none;
}

.menu .centered-text {
    vertical-align: top;
}

.menu .is-favorite {
    color: white;
}

#items-of-interest-panel .menu {
    text-align: right;
}

.table-location-industry {
    margin-left: 20px;
}

.table-title-rate, .table-location-industry {
    font-size: .95rem;
}

.table-container {
    min-width: 358px;
    text-align: right;
}

.selected-item .table-bordered, .pinned-item .table-bordered {
    margin-top: 0;
    border: 0;
    display: inline-block;
}

.selected-item table td:nth-of-type(1):nth-last-of-type(2),
.pinned-item table td:nth-of-type(1):nth-last-of-type(2) {
    width: 50%;
    text-align: right;
    padding-right: 31px;
}

.item-metadata, .item-metadata code {
    color: #999;
}

.contact {
    margin-bottom: 40px;
}

.item-metadata {
    text-align: right;
    margin-top: 27px;
}

.selected-item .table-bordered td,
.pinned-item .table-bordered td {
    padding: 3px;
    text-align: right;
}

.selected-item table td:nth-of-type(2):nth-last-of-type(1),
.pinned-item table td:nth-of-type(2):nth-last-of-type(1) {
    width: 50%;
    text-align: left;
    padding-left: 31px;
}

.item-of-interest table {
    width: 100%;
    max-width: 600px;
}

.description {
    float: left;
}

.m-i {
    width: 97px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    position: relative; /*to enable absolute positioning of label such that box does not overlap other items*/
}

.i-o-i-c {
    margin: 15px 25px 30px;
    position: absolute;
}

.selected-top {
    background: rgba(0, 0, 0, .1);
    box-shadow: 0 -15px 0 25px rgba(0, 0, 0, .1);
}

.info {
    display: block;
    color: #999;
    list-style: none;
}

.info li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    height: 1rem;
}

.country {
    text-transform: uppercase;
}

.skills {
    margin-top: 12px;
}

.info li:not(:last-child) {
    border-right: 1px solid #d6d6d6;
}

.menu-container {
    min-width: 305px;
    position: relative; /*required to ensure infront of surrounding paragraphs (Chrome bug?)*/
    /*required to circumvent transform z-index bug in webkit when transforms applied*/
    z-index: 1; /*required to circumvent transform z-index bug in webkit when transforms applied*/
    -webkit-backface-visibility: hidden;
    background: -webkit-linear-gradient(top, rgba(110, 143, 160, 1) 0%, rgba(117, 149, 166, 1) 61%, rgba(126, 157, 173, 1) 100%);
    box-sizing: border-box;
    box-shadow: 1px 0 0px 1px rgba(12, 9, 23, 0.37);
}

#selected-item-container-2 {
    background: blue;
}

.item-metadata h1 {
    margin-bottom: 18px;
}

.item-metadata h3 {
    text-align: right;
}

.item-of-interest p {
    margin-bottom: 2rem;
}

.item-of-interest .location, .item-of-interest .country {
    font-size: .8rem;
}

.item-of-interest li {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.item-of-interest ul, .item-of-interest ol {
    margin-bottom: 20px;
}

.item-metadata h3, .itemContact h3 {
    line-height: .8rem;
}

.updatedDateTime {
    font-size: .8rem;
}

/*safari does not yet support prefix-less flexbox styles*/
.flex-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -webkit-align-content: stretch;
    -webkit-align-items: stretch;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -webkit-flex: 0 0 67px; /*height of the menu on items of interest*/
    -webkit-align-self: auto;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -webkit-flex: 1 0 auto;
    -webkit-align-self: auto;
    overflow-y: scroll; /*enables the scroll-bars beneath the menu*/
    position: relative; /*to enable correct positioning of child absolute positioned container*/
}

.i-o-i-t {
    min-width: 250px;
    display: block;
}

body[data-items-of-interest-mode='1'] .empty-message-container:only-child {
    visibility: visible;
}

.empty-message-container {
    visibility: hidden;
    width: 300px; /*because we are maintaining this in the flow of the document, we need to make it narrow enough to ensure it never pushes pushes beyond a narrow selected item*/
    display: inline-block;
    position: absolute; /*avoid affecting pinned items*/
    top: 38%;
    left: 65px;
    color: #999;
    margin-top: -58px;
    line-height: 1rem;
    -webkit-backface-visibility: hidden;
}

/*"narrow screen" devices like iphone*/
/*media queries must be on a single lime to avoid safari bug*/
@media only screen and (max-device-width: 568px) {
    .menu-container {
        min-width: 120px;
    }

    .m-i {
        width: 82px; /*force two up/two down for aesthetic*/
    }
}