body[data-ui-mode='0'] .f, body[data-ui-mode='1'] .f {
    opacity: 1;
    pointer-events: auto;
}

body[data-ui-mode='0'] .logo-image {
    z-index: 2;
}

.logo-image {
    opacity: 1;
    pointer-events: none;
    margin: auto;
    font-family: ionicons;
    font-size: 17rem;
    line-height: 15rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    width: 100%;
    text-shadow: 0 0 159px rgba(0, 0, 0, 0.4);
}

.logo-image:after {
    display: inline-block;
    content: '\f30c';
}

body[data-ui-mode='1'] .logo-image2 {
    display: none;
}

body[data-ui-mode='1'] .f {
    display: none;
}

.f {
    bottom: 18px;
    position: absolute;
    margin: auto;
    z-index: 4;
    opacity: 0;
    width: 100%;
    pointer-events: none;
    transition: opacity .1s linear;
    color: rgba(82, 110, 125, 1);
    text-align: center;
}

.f a, .f span {
    color: #333;
}



.legal {
    position: relative;
    left: 20px;
    color: slategray;
    text-shadow: 0 0 82px white;
}

.legal-logo {
    display: none;
    font-size: 2rem;
    font-family: ionicons;
    color: slategray;
    text-shadow: 0 0 82px white;
}

.logo {
    margin-top: 10px;
    line-height: 3.2rem;
    font-size: 3.2em;
    color: rgba(82,110,125,1);
    font-family: helvetica-bold;
}

.tag-line {
    top: 59px;
    font-size: .8rem;
    color: rgba(82, 110, 125, 1);
    font-family: helvetica-bold;
}

body[data-ui-mode='0'] .logo,
body[data-ui-mode='0'] .tag-line {
    display: block;
}

body[data-ui-mode='1'] .logo,
body[data-ui-mode='1'] .tag-line {
    display: none;
}

