
.items-of-interest-panel[data-pinned-item-count='2'] .handle-pinned-items,
.items-of-interest-panel[data-pinned-item-count='3'] .handle-pinned-items,
.items-of-interest-panel[data-pinned-item-count='4'] .handle-pinned-items,
.items-of-interest-panel[data-pinned-item-count='5'] .handle-pinned-items,
.items-of-interest-panel[data-pinned-item-count='6'] .handle-pinned-items,
.items-of-interest-panel[data-pinned-item-count='7'] .handle-pinned-items,
.items-of-interest-panel[data-selected-item-count='1'][data-pinned-item-count='1'] .handle-pinned-items {
    opacity: 1;
}

.btn-hide {
    /*-webkit-transform: rotate(-45deg);*/
}

.handle-pinned-items .btn {
    color: rgba(0, 109, 204, 0.95);
}

.handle-pinned-items {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 69px;
    text-align: center;
    color: #333;
    text-decoration: none;
    opacity: 0;
    cursor: pointer;
    overflow: visible;
    margin: 5px 0 0 0;
    z-index: 99999; /*ensure in-front of all pinned items*/

}

.handle-comparison-list {
    display: inline-block;
    margin: 20px 0 20px 0;
    top: 283px;
    right: 0;
}

.handle-comparison-list.selected button:after {
    position: absolute;
    display: inline-block;
    content: '';
    left: -7px;
    top: 22px;
    background-color: #fff;
    width: 2px;
    height: 10px;
    box-shadow: 0 0 10px 0px white;
}