/*We avoid the translate because it screws with the fixed position headers*/
body[data-ui-mode='1'][data-are-transitions-enabled='true'] #bookmark-list-panel-container[data-mode='0'] #bookmark-list-panel {
    transition: -webkit-transform 1s cubic-bezier(0.2, 0.3, 0.25, 0.9), -webkit-filter .2s ease-out, left 0s linear 0s;
}

body[data-ui-mode='1'][data-are-transitions-enabled='true'] #bookmark-list-panel-container[data-mode='1'] #bookmark-list-panel {
    transition: -webkit-transform 1s cubic-bezier(0.2, 0.3, 0.25, 0.9), -webkit-filter .2s ease-out, left 0s linear .3s; /*delay dragging off to left*/
}

/*unlikely needed - check in safari first*/
body[data-items-of-interest-mode='0'] #bookmark-list-panel.translateToZero {
    -webkit-transform: translate3d(0, 0, 0);
}

/*pinned items expanded*/
body[data-items-of-interest-mode='1'] #bookmark-list-panel {
    -webkit-transform: translate3d(-400px, 0, 0);
    box-shadow: none;
}

#bookmark-list-panel-container {
    width: 0;
    height: 100%;
    overflow: visible;
    position: relative;
    display: inline-block;
}

#bookmark-list-panel {
    display: inline-block;
    position: relative; /*required to ensure correct horizontal scrolling behavior*/
    top: 0;
    left: -400px; /*IMPORTANT: avoid scroll events falling onto this element*/
    height: 100%;
    width: 400px;
    margin-left: 74px;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2; /*4=tab-bar, 3=search-form-panel, 2=bookmarks-panel, 1=result-list-panel, 0=ioi-panel*/
    box-shadow: none;
    background-color: white;
    -webkit-filter: opacity(0%); /*attempt to avoid flash of visibility on greenfield*/
    -webkit-backface-visibility: hidden; /*this fixes a chrome bug whereby the content remains blurry after the filter transition is complete*/
    pointer-events: none;
    -webkit-overflow-scrolling: touch;
}


body[data-ui-mode='1'] #bookmark-list-panel-container[data-mode='0']  #bookmark-list-panel {
    -webkit-filter: opacity(100%);
    box-shadow: 1px 0 1px -1px rgb(12, 9, 23);
    left: 0;
    pointer-events: auto;
}

/*h1 for the result list does not follow default h1 styling*/
#bookmark-list-panel h1 {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    margin: inherit;
    display: table-cell;
    vertical-align: middle;
}

#bookmark-list-panel-summary {
    padding: 15px 10px 14px 10px;
    box-sizing: border-box; /*because we are applying padding*/
    color: #999;
    height:67px;
    display: table;
}

/*what is this*/
.bookmark-list-summary {
    background-color: rgba(246, 246, 246, 1);
    padding: 10px;
    line-height: 1rem;
    color: #333;
    font-family: helvetica-bold;
    width: 100%;
    z-index: 1; /*ensure remains over results*/
    box-sizing: border-box; /*IMPORTANT to avoid overflowing horizontally on iOS (and triggering unwanted horizontal scroll)*/
}

/*"narrow-screen" devices like iphone*/
@media only screen and (max-device-width: 568px) {

}
