#tab-bar {
    display: inline-table; /*fixes fixed positioning issue on iOS*/
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 96px;
    background: rgba(249, 249, 249, 1);
    z-index: 5; /*5=tab-bar, 4=my-account-panel 3=search-form-panel, 2=bookmarks-panel, 1=result-list-panel, 0=ioi-panel*/
    min-height: 660px; /*empirical*/
    -webkit-filter: opacity(0%);
    pointer-events: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 95, 167, .35);
}

body[data-ui-mode='1'] #tab-bar {
    -webkit-filter: opacity(100%);
    pointer-events: auto;
}

.i:first-child {
    border-radius: 5px 5px 0 0;
    border-top: 1px solid rgba(0, 122, 255, 1);
}

.i:last-child {
    border-radius: 0 0 5px 5px;
}

.i {
    width: 74px;
    margin: auto;
    display: block;
    text-align: center;
    border: 1px solid rgba(0, 122, 255, 1);
    border-top: 0;
}

.i-my-account {
    position: absolute;
    bottom: 136px; /*empirical*/
    text-align: center;
    width: 100%;
}

.i-sign-out {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

#tab-bar .lbl {
    margin-top: -12px;
    margin-bottom: 11px;
    color: rgba(0, 122, 255, 1);
}

#tab-bar .btn {
    position: relative; /*for positioning of after*/
    color: rgb(0, 122, 255);
}

.h {
    display: inline-block;
    width: 100%;
    height: 62px;
    line-height: 62px;
    text-align: center;
    font-family: helvetica-bold, Arial, sans-serif;
    color: #333;
}

body[data-hover-is-enabled='true'] #tab-bar .btn:enabled:hover {
    /*box-shadow: rgba(255, 255, 255, .4) 0 0 5px 0;*/
    text-decoration: none; /*required for anchor buttons*/
}

#tab-bar[data-selected-tab='0'] .i:nth-of-type(1),
#tab-bar[data-selected-tab='1'] .i:nth-of-type(2),
#tab-bar[data-selected-tab='2'] .i:nth-of-type(3),
#tab-bar[data-selected-tab='3'] .i:nth-of-type(4) {
    color: white;
    background: rgba(0, 122, 255, 1);
}

#tab-bar[data-selected-tab='0'] .i:nth-of-type(1) .btn,
#tab-bar[data-selected-tab='1'] .i:nth-of-type(2) .btn,
#tab-bar[data-selected-tab='2'] .i:nth-of-type(3) .btn,
#tab-bar[data-selected-tab='3'] .i:nth-of-type(4) .btn {
    color: white;
}

#tab-bar[data-selected-tab='0'] .i:nth-of-type(1) .lbl,
#tab-bar[data-selected-tab='1'] .i:nth-of-type(2) .lbl,
#tab-bar[data-selected-tab='2'] .i:nth-of-type(3) .lbl,
#tab-bar[data-selected-tab='3'] .i:nth-of-type(4) .lbl {
    color: white;
}

#tab-bar h1 {
    margin: 0;
    line-height: inherit;
    font-size: inherit;
}

#btn-nav-comparison-list[data-count='']::before {
    display: none;
}

#btn-nav-comparison-list[data-count='1/4']::before {
    box-shadow: 16px 0 0 0 rgba(255, 255, 255, 1), 32px 0 0 0 rgba(255, 255, 255, 1), 48px 0 0 0 rgba(255, 255, 255, 1), 48px 0 0 1px rgba(0, 122, 255, 1), 32px 0 0 1px rgba(0, 122, 255, 1), 16px 0 0 1px rgba(0, 122, 255, 1), 0 0 0 1px rgba(0, 122, 255, 1);
}

#btn-nav-comparison-list[data-count='2/4']::before {
    box-shadow: 16px 0 0 0 rgba(0, 122, 255, 1), 32px 0 0 0 rgba(255, 255, 255, 1), 48px 0 0 0 rgba(255, 255, 255, 1), 48px 0 0 1px rgba(0, 122, 255, 1), 32px 0 0 1px rgba(0, 122, 255, 1), 16px 0 0 1px rgba(0, 122, 255, 1), 0 0 0 1px rgba(0, 122, 255, 1);
}

#tab-bar[data-selected-tab='2'] #btn-nav-comparison-list[data-count='2/4']::before {
    box-shadow: 0px 0 0 1px rgba(255, 255, 255, 1), 16px 0 0 0 rgba(0, 122, 255, 1), 16px 0 0 1px rgba(255, 255, 255, 1), 32px 0 0 0 rgba(255, 255, 255, 1), 32px 0 0 1px rgba(255, 255, 255, 1), 48px 0 0 0 rgba(255, 255, 255, 1), 48px 0 0 1px rgba(255, 255, 255, 1), 48px 0 0 1px rgba(0, 122, 255, 1), 32px 0 0 1px rgba(0, 122, 255, 1), 16px 0 0 1px rgba(0, 122, 255, 1), 0 0 0 1px rgba(0, 122, 255, 1);
}

#btn-nav-comparison-list[data-count='3/4']::before {
    box-shadow: 16px 0 0 0 rgba(0, 122, 255, 1), 32px 0 0 0 rgba(0, 122, 255, 1), 48px 0 0 0 rgba(255, 255, 255, 1), 48px 0 0 1px rgba(0, 122, 255, 1), 32px 0 0 1px rgba(0, 122, 255, 1), 16px 0 0 1px rgba(0, 122, 255, 1), 0 0 0 1px rgba(0, 122, 255, 1);
}

#btn-nav-comparison-list[data-count='4/4']::before {
    box-shadow: 16px 0 0 0 rgba(0, 122, 255, 1), 32px 0 0 0 rgba(0, 122, 255, 1), 48px 0 0 0 rgba(0, 122, 255, 1), 48px 0 0 1px rgba(0, 122, 255, 1), 32px 0 0 1px rgba(0, 122, 255, 1), 16px 0 0 1px rgba(0, 122, 255, 1), 0 0 0 1px rgba(0, 122, 255, 1);
}

#btn-nav-comparison-list::before {
    box-shadow: 16px 0 0 0 rgba(180, 196, 206, 1), 32px 0 0 0 rgba(180, 196, 206, 1), 48px 0 0 0 rgba(180, 196, 206, 1), 48px 0 0 1px rgba(255, 255, 255, .7), 32px 0 0 1px rgba(255, 255, 255, .7), 16px 0 0 1px rgba(255, 255, 255, .7), 0 0 0 1px rgba(255, 255, 255, .7);
    display: block;
    position: absolute;
    width: 14px;
    height: 1px;
    background: rgba(0, 122, 255, 1);
    border-radius: 0px;
    font-size: 1rem;
    top: 7px;
    left: 3px;
    line-height: 28px;
    content: '';
}

#btn-nav-comparison-list.pulse {
    -webkit-animation: pulse .2s 1 0;
}

#btn-nav-bookmarks.pulse {
    -webkit-animation: pulse .2s 1 0;
}

#btn-nav-my-account {
    font-size: 2.5rem;
}

#tab-bar ul {
    width: 100%; /*ensure buttons centered even when labels not present*/
}

@media only screen and (max-device-height: 568px) {
    #tab-bar .btn-s ~ .lbl, #tab-bar .btn-s > .lbl {
        display: none;
    }

    #tab-bar {
        min-height: 300px !important; /*iPhone landscape - minus status bar - note tethering not supported here!*/
    }
}

/*"narrow-screen" devices like iphone*/
/*media queries must be on a single lime to avoid safari bug*/
@media only screen and (max-device-width: 568px) {
    #tab-bar {
        width: 45px; /*height of lower panel on iOS Safari*/
    }

    #tab-bar .i {
        width: 36px;
    }

    #tab-bar .i .btn,
    #tab-bar .i-sign-out .btn {
        line-height: 58px; /*Reduced height helps with landscape on iPhone*/
        height: 58px; /*Reduced height helps with landscape on iPhone*/
    }

    #tab-bar .i .btn,
    .i-sign-out .btn {
        width: 36px;
    }

    .i-sign-out {
        bottom: 0px;
    }

    #tab-bar h1:after {
        content: '\f322';
        display: block;
        font-family: ionicons;
        font-size: 3rem;
        text-align: center;
        color: rgba(0, 122, 255, 1);
    }

    #tab-bar h1 a {
        display: none;
    }

    #btn-nav-comparison-list::before {
        width: 6px;
    }

    #btn-nav-comparison-list[data-count='1/4']::before {
        box-shadow: 8px 0 0 0 rgba(255, 255, 255, 1), 16px 0 0 0 rgba(255, 255, 255, 1), 24px 0 0 0 rgba(255, 255, 255, 1), 24px 0 0 1px rgba(0, 122, 255, 1), 16px 0 0 1px rgba(0, 122, 255, 1), 8px 0 0 1px rgba(0, 122, 255, 1), 0 0 0 1px rgba(0, 122, 255, 1);
    }
}

@media only screen and (max-device-height: 568px ) and (orientation:landscape) {
    #tab-bar ul:first-of-type {
        margin-top: 5px;
    }

    #tab-bar h1:after {
        display: none !important;
    }
}