#comparison-list-heads-up {
    /*position: absolute;
    right: 0;
    top: 10px;
    width: 194px;*/
    text-align: center;
    position: absolute;
    display: block;
    width: 159px;
    height: 85px;
    z-index: 2;
    right: 5px;
    bottom: 0;
    /*background: -webkit-linear-gradient(left, rgba(255, 255, 255, .95) 0%, rgba(255, 255, 255, .95) 75%, rgba(255, 255, 255, 0) 100%);*/
    /*background: -webkit-linear-gradient(left, rgba(255, 255, 255, .95) 0%, rgba(255, 255, 255, .95) 75%, rgba(255, 255, 255, 0) 100%);*/
    /*background: rgba(249,249,249,1);*/
    
    border-top: 1px solid rgba(0,95,167,.35);
    background: rgba(255,255,255,.95);
}
#comparison-list-heads-up .label {
    margin-bottom: 0;
    font-size: .8rem;
    color: #007aff;
}
#comparison-list-heads-up .menu {
    position: relative;
}
#comparison-list-heads-up .menu li {
    display: inline-block;
    width: 32px;
    /*empirical*/
    text-align: center;
}
#comparison-list-heads-up[data-count='1'] .menu li::before {
    content: '\f25c';
    display: block;
    font-family: ionicons;
    font-size: 2.5rem;
    color: #007aff;
}
#comparison-list-heads-up[data-count='3'] .menu li:nth-child(4)::before {
    color: rgba(204,204,206,.5);
}
#comparison-list-heads-up[data-count='2'] .menu li:nth-child(3)::before, #comparison-list-heads-up[data-count='2'] .menu li:nth-child(4)::before {
    color: rgba(204,204,206,.5);
}
#comparison-list-heads-up[data-count='1'] .menu li:nth-child(2)::before, #comparison-list-heads-up[data-count='1'] .menu li:nth-child(3)::before, #comparison-list-heads-up[data-count='1'] .menu li:nth-child(4)::before {
    color: rgba(204,204,206,.5);
}
