#tab-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 74px;
    background: -webkit-linear-gradient(top, rgba(110, 143, 160, 1) 0, rgba(118, 150, 167, 1) 9%, rgba(156, 184, 199, 1) 36%, rgba(161, 188, 203, 1) 42%, rgba(161, 188, 203, 1) 51%, rgba(148, 176, 191, 1) 61%, rgba(87, 120, 136, 1) 89%, rgba(76, 110, 126, 1) 95%, rgba(69, 104, 120, 1) 100%);
    z-index: 3;
    box-shadow: 1px 0 1px -1px #0c0917;
    -webkit-filter: opacity(0%);
    pointer-events: none;
    -webkit-user-select: none;
}

body[data-ui-mode='1'] #tab-bar {
    -webkit-filter: opacity(100%);
    pointer-events: auto;
}

.i {
    display: block;
    margin: 20px 0;
    text-align: center;
}

.i-sign-out {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

#tab-bar .lbl {
    color: whitesmoke;
}

#tab-bar .btn {
    position: relative; /*for positioning of after*/
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, .2);
}

.h {
    display: inline-block;
    width: 74px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: helvetica-bold, Arial, sans-serif;
    color: rgba(255, 255, 255, .95);
}

body[data-hover-is-enabled='true'] .h:hover {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

body[data-hover-is-enabled='true'] #tab-bar .btn:hover {
    box-shadow: rgb(245, 245, 245) 0 0 8px 0;
    text-decoration: none; /*required for anchor buttons*/
}

#tab-bar[data-selected-tab='0'] .i:nth-of-type(2) button:after,
#tab-bar[data-selected-tab='1'] .i:nth-of-type(3) button:after,
#tab-bar[data-selected-tab='2'] .i:nth-of-type(4) button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 2px;
    height: 17px;
    background: #fff;
    left: -5px;
    bottom: 24px;
    box-shadow: 0 0 2px 0px white;
}
