/* Search Panel */

.search-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 340px;
    vertical-align: top;
    /*background: -webkit-gradient(linear, left top, right top, color-stop(86%, rgba(255, 255, 255, .95)), color-stop(93%, rgba(255, 255, 255, .95)), color-stop(100%, rgba(255, 255, 255, 0)));*/
    background-color: white;
    z-index: 2; /*ensure remains in-front of everything else*/
    /*-webkit-transform: translate3d(0,0,0);*/
}

body[data-ui-mode='0'] .search-panel {
    width: 100%;
    pointer-events: auto;
    transition: width 0s linear 0s, opacity .1s linear;
    box-shadow: 0px 1px 1px 0px rgba(12, 9, 23, 0);
}

body[data-ui-mode='1'] .search-panel {
    box-shadow: 0px 1px 1px 0px rgba(12, 9, 23, 1);
    transition: width .5s ease-out, left .5s ease-out, box-shadow .3s ease-in-out .6s;
}

.search-panel[data-mode='1'] {
    left: -280px;
    transition: left .5s ease-out;
}

.search-panel[data-mode='1'] :not(.handle-element) {
    opacity: 0;
    transition: opacity .3s ease-out .6s;
}

.search-panel[data-mode='0'] {
    opacity: 1;
}

/* Search Form */
#search-form {
    opacity: 0;
    pointer-events: none;
    /*border-radius: 0 0 455px;*/
    width: 340px; /* width explicitly spec'd to enable margin:auto centering on greenfield*/
    /*width: 100%;*/
    height: 330px;
    position: relative;
    text-align: left;
    margin: auto;
    /*background-color: white;*/
    padding-bottom: 12px;
    /*box-shadow: 0px 1px 0px 0px rgba(12, 9, 23, .3); *//*color chosen to match other borders given I cannot apply a blur to this border without affecting the right hand side appearance*/
    /*transition: top .5s ease-out;*/
}

body[data-ui-mode='0'] #search-form {
    top: 196px;
    /*transition: top 0s linear 0s;*/
}

body[data-ui-mode='1'] #search-form {
    top: 0;
    transition: top .5s ease-out;
}

form[name='search-form'] {
    margin-left: 9px;
}

#btn-search {
    width: 100px;
    height: 100px !important;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: helvetica-pro-light;
    line-height: 100px !important;
}

body[data-ui-mode='0'] #search-form {
    box-shadow: none;
}

body[data-ui-mode='1'] #search-form, body[data-ui-mode='0'] #search-form {
    opacity: 1;
    pointer-events: auto;
}



.search-button-container .label {
    /*margin-top: 14px;*/
    /*font-size: 1rem;*/
}

.search-button-container .label {
    margin-left: 1px; /*this is because the font rendering makes it look off center*/
}

.search-button-container .label {
    top: -6px;
    position: relative;
}

.search-button-container {
    position: absolute;
    /*left: 273px;*/
    /*top: 49px;*/
    /*left: 271px;*/
    /*top: 24px;*/
    /*left: 271px;*/
    /*top: 66px;*/
    left: 118px;
    top: 219px;

}

/* End Search Form */

/* Search Filters */

.search-filters > :first-child {
    display: inline-block;
    /*margin-bottom: 10px;*/
}

.search-filters {
    margin: 19px 20px 20px;
}

.search-filters {
    display: inline-block;
    position: relative;
}

/* End Search Filters */

