/* Navbar */

body[data-ui-mode='0'] .navbar, body[data-ui-mode='1'] .navbar {
    opacity: 1;
    pointer-events: auto;
}

body[data-ui-mode='0'] .logo-image {
    /*opacity: 1;*/
    z-index: 2;
}


.logo-image {
    opacity: 0;
    pointer-events: none;
    z-index: 0;
    margin: auto;
    font-family: ionicons;
    font-size: 8.5rem;
    color: rgba(0, 109, 204, .04);
    position: fixed;
    top: 457px;
    text-align: center;
    width: 100%;
}

/*.logo-image:after {*/
    /*position: absolute;*/
    /*content: '\f30c';*/
    /*font-family: ionicons;*/
    /*font-size: 10rem;*/
    /*display: inline-block;*/
    /*top: 55px;*/
    /*left: 10px;*/
    /*color: rgba(0, 109, 204, .95);*/

/*}*/

.navbar {
    left: 30px;
    bottom: 18px;
    position: absolute;
    z-index: 4;
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s linear;
}

/* End Navbar */

/* Logo */

body[data-ui-mode='0'] .logo, body[data-ui-mode='0'] .tag-line {
    opacity: 1;
    z-index: 2;
}

.logo {
    font-size: 4em;
    font-family: proxima-nova-500;
    margin-top: 40px;
    position: relative;
}

.legal {
    position: relative;
    left: 30px;
    color: slategray;
    text-shadow: 0 0 82px white;
}

.legal-logo {
    display: none;
    font-size: 2rem;
    font-family: ionicons;
    color: slategray;
    text-shadow: 0 0 82px white;
}

/*.legal:after {*/
/*font-family: ionicons;*/
/*color: rgba(0, 0, 0,1);*/
/*font-size: 4rem;*/
/*position: relative;*/
/*top: -14px;*/
/*left: -79px;*/
/*content: '\f30c';*/
/*display: inline-block;*/
/*z-index: -1;*/
/*}*/

.logo, .tag-line {
    position: fixed;
    width: 100%;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s linear;
    color: rgba(0, 109, 204, .95);
    z-index: 1;
    text-align: center;
    font-family: helvetica-bold;
}

.logo {
    top: 90px;
}

.tag-line {
    font-size: .8rem;
    top: 129px;
}

/* End Logo */