body {
    background-color: whitesmoke;
}

body[data-ui-mode='-1'],
body[data-ui-mode='0'] {
    overflow: hidden;
}

body[data-ui-mode='0'] .modal-container {
    overflow: hidden; /*prevents scrollbars from being shown on greenfield state*/
}

/*body {*/
/*transition: opacity .1s ease-out;*/
/*}*/

/*body.hidden {*/
/*opacity: 0;*/
/*pointer-events: none;*/
/*transition: opacity .1s ease-out;*/
/*}*/

/*The main-container concept introduced deliberately to be "helpful".*/
body[data-ui-mode='-1'] .main-container {
    opacity: 0;
    transition: none;
}

body:not([data-ui-mode='-1']) .main-container {
    opacity: 1;
    transition: opacity .1s ease-out;
}

body:not([data-ui-mode='-1']) .loading-container {
    opacity: 0;
    transition: opacity .1s ease-out;
}

.thumbnail, .t {
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    /*padding: 4px;*/
    display: inline-block;
    vertical-align: top;
}

.thumbnail h2, .t h2 {
    margin: 0;
}

.thumbnail-219 h3, .t-219 h3 {
    font-size: 1rem;
}

.thumbnail-219 a, .t-219 a {
    font-size: 1rem;
}

.thumbnail-219, .t-219 {
    /*width: 219px;*/
}

.thumbnail-108, .t-108 {
    width: 116px;
    height: 60px;
    font-size: 0.75em;
    padding: 1px;
}

.thumbnail-108 h3, .thumbnail-108 h4, .thumbnail-108 h5, .t-108 h3, .t-108 h4, .t-108 h5 {
    line-height: 1.1em;
    margin: 0 0 6px 0;
}

.thumbnail-108 h4, .t-108 h4 {
    font-weight: normal;
    text-align: right;
}

.thumbnail-108:before, .t-108:before {
    bottom: -3px;
    right: -3px;
    border-radius: 0 0 7px 0;
}

/*.thumbnail:before, .t:before {*/
/*content: '';*/
/*display: block;*/
/*width: 56px;*/
/*height: 56px;*/
/*border-bottom: 0;*/
/*border-right: 0;*/
/*border-radius: 0 0 11px 0;*/
/*position: absolute;*/
/*bottom: -13px;*/
/*right: -4px;*/
/*z-index: 999;*/
/*box-shadow: 1px 3px 0px 0px #eee;*/
/*pointer-events: none;*/
/*}*/

.thumbnail:hover:before, .t:hover:before {
    /*box-shadow: 1px 3px 0px 0px rgba(255, 200, 0, 0.3);*/
}

.thumbnail.selected:before, .t.selected:before {
    /*box-shadow: 1px 5px 0px 0px rgba(0, 109, 204, 1);*/
    /*box-shadow: 1px 5px 0px 0px rgba(12, 96, 254, 1);*/
}

/*.thumbnail:after, .t:after {*/
/*content: '';*/
/*display: block;*/
/*width: 56px;*/
/*height: 56px;*/
/*border-top: 0;*/
/*border-left: 0;*/
/*border-radius: 11px 0 0 0;*/
/*position: absolute;*/
/*top: -4px;*/
/*left: -4px;*/
/*z-index: 999;*/
/*box-shadow: -1px -3px 0px 0px #eee;*/
/*pointer-events: none;*/
/*}*/

/*.selected a:after {*/
/*content: '';*/
/*display: block;*/
/*width: 34px;*/
/*height: 34px;*/
/*border-top: 0;*/
/*border-left: 0;*/
/*position: absolute;*/
/*top: -9px;*/
/*right: 22px;*/
/*z-index: 0;*/
/*box-shadow: 15px -15px 0px 0px rgba(0,0,0,0.1);*/
/*pointer-events: none;*/
/*-webkit-transform: rotate(45deg);*/
/*}*/

.t.selected {
    background: rgba(0, 0, 0, .1);
    /*box-shadow: 0px 0 0 20px rgba(0,0,0,.1);*/
    border-radius: 0;
}

.thumbnail.selected:after, .t.selected:after {
    /*box-shadow: -1px -5px 0px 0px rgba(0, 109, 204, 1);*/
    /*box-shadow: -1px -5px 0px 0px rgba(12, 96, 254, 1);*/
}

.thumbnail.edit:before, .t.edit:before {
    background-color: rgb(0, 0, 0);
    border-radius: 41px;
    box-shadow: 0px 0px 0 0px rgb(51, 51, 51);
    content: '';
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 20px;
    position: relative;
    left: 0; /*need to understand why*/
    top: -52%;
    width: 2px;
    height: 113px;
    line-height: 41px;
    text-align: center;
    -webkit-transform: rotate(45deg);
}

.thumbnail.edit, .t.edit {
    -webkit-animation: jiggle 0.2s infinite 0.05s;
}

.thumbnail.edit:after, .t.edit:after {
    content: none !important;
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
    }

    50% {
        -webkit-transform: rotate(1deg);
    }
}

.three-d-context {
    -webkit-perspective: 4000;
}

.front {
    z-index: 900;
    -webkit-transition: opacity 0s linear 0s, z-index 0s linear 0s, -webkit-transform .35s ease-out;
    -webkit-transform: rotateY(0deg);
    opacity: 1;
    -webkit-backface-visibility: hidden;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.login-panel .back {
    -webkit-transform: rotateY(-180deg);
}

.back {
    z-index: 800;
    -webkit-transition: z-index 0s linear .25s, -webkit-transform .35s ease-out;
    -webkit-transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
}

.login-panel.three-d-context.flipped .front {
    -webkit-transform: rotateY(180deg);
}

.three-d-context.flipped .front {
    z-index: 800;
    -webkit-transition: opacity .25s linear 0s, z-index 0s linear .25s, -webkit-transform .35s ease-out;
    -webkit-transform: rotateY(-180deg);
    opacity: 0;
    -webkit-backface-visibility: hidden;
}

.three-d-context.flipped .back {
    z-index: 900;
    -webkit-transition: opacity .25s linear 0s, z-index 0s linear .25s, -webkit-transform .35s ease-out;
    -webkit-transform: rotateY(0deg);
    -webkit-backface-visibility: hidden;
}

ul.pips, ul.pips li {
    list-style: none;
    display: inline-block;
    text-align: left;
}

ul.pips {
    margin: 0;
    left: -24px;
    position: relative;
    top: 12px;
}

ul.pips a {
    display: inline-block;
    background-color: #eee; /* #666;*/
    border-radius: 1px;
    text-indent: -999em;
    overflow: hidden;
    width: 8px;
    height: 17px;
}

body[data-ui-mode='1'] .logo,
body[data-ui-mode='1'] .tag-line {
    z-index: -1;
}

/*This prevents the inline-block layout elements from wrapping on narrow screens.*/
.modal-container {
    white-space: nowrap;
}

*:not(.modal-container) {
    white-space: normal;
}

.loading-container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
}

.loading {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    /*border: 1px solid rgba(2, 86, 244, .1);*/
    border: 2px solid silver;
    border-left: none;
    border-radius: 50px;
    top: 50%;
    margin-top: -25px;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-iteration-count: infinite !important;
    -webkit-animation-timing-function: linear !important;
    margin-left: -25px;
}


