#bookmark-panel-container {
    width: 0;
    height: 100%;
    overflow: visible;
    position: relative;
    display: inline-block;
    z-index: 2; /*needs to be infront of result list*/
}

#bookmark-panel {
    display: inline-block;
    position: relative; /*required to ensure correct horizontal scrolling behavior*/
    top: 0;
    left: -480px; /*avoid scroll events falling onto this element*/
    height: 100%;
    width: 480px;
    margin-left: 74px;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: -1; /*fixes a webkit z-index bug I think*/
    box-shadow: none;
    background-color: white;
    -webkit-filter: opacity(0%); /*attempt to avoid flash of visibility on greenfield*/
    -webkit-backface-visibility: hidden; /*this fixes a chrome bug whereby the content remains blurry after the filter transition is complete*/
    pointer-events: none;
    -webkit-overflow-scrolling: touch;
}

/*We avoid the translate because it screws with the fixed position headers*/
body[data-ui-mode='1'][data-are-transitions-enabled='true'] #bookmark-panel-container[data-mode='0'] #bookmark-panel {
    transition: -webkit-filter .2s ease-out;
}


body[data-ui-mode='1'][data-are-transitions-enabled='true'] #bookmark-panel-container[data-mode='1'] #bookmark-panel {
    transition: -webkit-filter .2s ease-out, left 0 linear .2s;
}

body[data-ui-mode='1'] #bookmark-panel {
    pointer-events: auto;
}

body[data-ui-mode='1'] #bookmark-panel-container[data-mode='0']  #bookmark-panel {
    -webkit-filter: opacity(100%);
    box-shadow: 1px 0 1px -1px rgb(12, 9, 23);
    left: 0;
}

/*body[data-ui-mode='1'] #bookmark-panel-wrapper[data-mode='0']  #bookmark-panel {*/
/*left:*/
/*}*/

.bookmark-panel-summary {
    padding: 15px 10px 14px 10px;
    box-sizing: border-box; /*because we are applying padding*/
    color: #999;
}

.bookmark-list-summary {
    background-color: rgba(246, 246, 246, 1);
    padding: 15px 10px 14px 10px;
    box-sizing: border-box; /*because we are applying padding*/
    line-height: 1rem;
    color: #333;
    font-family: helvetica-bold;
    width: 100%;
    z-index: 1; /*ensure remains over results*/
}

/*"narrow-screen" devices like iphone*/
@media only screen and (max-device-width: 568px) {

}
