body[data-ui-mode='0'] .modal-container {
    overflow: hidden; /*prevents scrollbars from being shown on greenfield state*/
}

/*This prevents the inline-block layout elements from wrapping on narrow screens.*/
.modal-container {
    white-space: nowrap;
}

*:not(.modal-container) {
    white-space: normal;
}
