.handle-search-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 74px;
    margin: 5px 0 0 0;
    color: #333;
    text-decoration: none;
    /*opacity: 0;*/
    z-index: 2;
    -webkit-transform: scale(1);
    -webkit-backface-visibility: hidden; /*this fixes a chrome bug whereby the content remains blurry after the filter transition is complete*/
}

.search-panel[data-mode='0'] .handle-search-panel {
    /*opacity: 0;*/
    -webkit-filter: opacity(0%);
    pointer-events: none;
}

.search-panel[data-mode='1'] .handle-search-panel {
    /*opacity: 1;*/
    -webkit-filter: opacity(100%);
    pointer-events: auto;
}

/*body[data-are-transitions-enabled='true'] .search-panel[data-mode='0'] .handle-search-panel {*/
    /*transition: opacity .1s ease-out 0;*/
/*}*/

/*body[data-are-transitions-enabled='true'] .search-panel[data-mode='1'] .handle-search-panel {*/
    /*transition: opacity .1s ease-out 0;*/
/*}*/

.handle-search-panel-label {
    padding: 0 1px 0 1px;
}

/*body[data-are-transitions-enabled='true'] .search-panel[data-mode='1'] #search-form {*/
    /*transition: opacity .1s ease-out;*/
/*}*/

