#tab-bar {
    display: inline-table; /*fixes fixed positioning issue on iOS*/
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 73px;
    background: rgba(249, 249, 249, 1);
    z-index: 5; /*5=tab-bar, 4=my-account-panel 3=search-form-panel, 2=bookmarks-panel, 1=result-list-panel, 0=ioi-panel*/
    min-height: 660px; /*empirical*/
    -webkit-filter: opacity(0%);
    pointer-events: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 95, 167, .35);
    -webkit-backface-visibility: hidden; /*fix blur resulting from an unknown source in Chrome*/
}

/*#tab-bar[data-selected-tab='0'] .i:nth-of-type(1) button::before, #tab-bar[data-selected-tab='1'] .i:nth-of-type(2) button::before, #tab-bar[data-selected-tab='2'] .i:nth-of-type(3) button::before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 23px;*/
    /*left: -3px;*/
    /*border-radius: 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 21px solid transparent;*/
    /*border-bottom: 21px solid transparent;*/
    /*border-left: 6px solid rgba(0,122,255,1);*/
/*}*/

/*#tab-bar[data-selected-tab='0'] .i:nth-of-type(1) button::after, #tab-bar[data-selected-tab='1'] .i:nth-of-type(2) button::after, #tab-bar[data-selected-tab='2'] .i:nth-of-type(3) button::after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 23px;*/
    /*left: 0;*/
    /*border-radius: 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 21px solid transparent;*/
    /*border-bottom: 21px solid transparent;*/
    /*border-left: 6px solid rgba(0,122,255,.5);*/
/*}*/

#tab-bar .i:nth-of-type(2)[data-count='0/4'] {
    display: none;
}

#tab-bar .i:nth-of-type(3)[data-count='0'] {
    color: silver;
}

#tab-bar .i:nth-of-type(1),
#tab-bar .i:nth-of-type(2),
#tab-bar .i:nth-of-type(3) {
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

#tab-bar[data-selected-tab='0'] .i:nth-of-type(1) label,
#tab-bar[data-selected-tab='1'] .i:nth-of-type(2) label,
#tab-bar[data-selected-tab='2'] .i:nth-of-type(3) label {
    font-weight: bold;
}

body[data-ui-mode='1'] #tab-bar {
    -webkit-filter: opacity(100%);
    pointer-events: auto;
}

.i {
    width: 72px;
    margin: auto;
    display: block;
    text-align: center;
    border-top: 0;
}

.i-my-account {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

.i-sign-out {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

#tab-bar .lbl {
    margin-top: -12px;
    margin-bottom: 11px;
    color: rgba(0, 122, 255, 1);
}

#tab-bar .btn {
    position: relative; /*for positioning of after*/
    color: rgb(0, 122, 255);
}

.h {
    display: inline-block;
    width: 100%;
    /*height: 62px;*/
    /*line-height: 62px;*/
    height: 61px;
    line-height: 61px;
    text-align: center;
    font-family: helvetica-bold, Arial, sans-serif;
    color: #333;
}

body[data-hover-is-enabled='true'] #tab-bar .btn:enabled:hover {
    text-decoration: none; /*required for anchor buttons*/
}

#tab-bar h1 {
    margin: 0;
    line-height: inherit;
    font-size: inherit;
}



#btn-nav-comparison-list.pulse {
    /*-webkit-animation: pulse-l .5s 1 0;*/
    /*-webkit-animation: pulse-l .5s 5 0.2s;*/
    -webkit-animation: fly-in .5s 1 0.2s;
}

#btn-nav-bookmarks.pulse {
    -webkit-animation: pulse-l .5s 1 0;
}

#btn-nav-my-account {
    font-size: 2.5rem;
}

#tab-bar ul {
    width: 100%; /*ensure buttons centered even when labels not present*/
}

@media only screen and (max-device-height: 568px) {
    #tab-bar .btn-s ~ .lbl, #tab-bar .btn-s > .lbl {
        display: none;
    }

    #tab-bar {
        min-height: 300px !important; /*iPhone landscape - minus status bar - note tethering not supported here!*/
    }
}

/*"narrow-screen" devices like iphone*/
/*media queries must be on a single lime to avoid safari bug*/
@media only screen and (max-device-width: 568px) {
    #tab-bar {
        width: 45px; /*height of lower panel on iOS Safari*/
    }

    #tab-bar .i {
        width: 45px;
    }

    #tab-bar .i .btn,
    #tab-bar .i-sign-out .btn {
        /*Reduced height helps with landscape on iPhone*/
        /*line-height: 58px; */
        /*height: 58px;*/

        line-height: 45px; /*45px provides a decent large touch target*/
        height: 45px;
        margin-top: 11px; /*We use margin to enable decent spacing, whilst keeping a round touch target*/
        margin-bottom: 11px;
    }

    #tab-bar .i .btn,
    .i-my-account .btn,
    .i-sign-out .btn {
        width: 45px;
    }

    .i-my-account,
    .i-sign-out {
        bottom: 0;
    }

    #tab-bar h1 {
        height: 45px;
        line-height: 45px;
    }

    #tab-bar h1:after {
        content: '\f322';
        display: block;
        font-family: ionicons;
        font-size: 3rem;
        text-align: center;
        color: rgba(0, 122, 255, 1);
        height: 45px;
        line-height: 45px;
    }

    #tab-bar h1 a {
        display: none;
    }

    #btn-nav-comparison-list::before {
        width: 6px;
    }

    #btn-nav-comparison-list[data-count='1/4']::before {
        box-shadow: 8px 0 0 0 rgba(255, 255, 255, 1), 16px 0 0 0 rgba(255, 255, 255, 1), 24px 0 0 0 rgba(255, 255, 255, 1), 24px 0 0 1px rgba(0, 122, 255, 1), 16px 0 0 1px rgba(0, 122, 255, 1), 8px 0 0 1px rgba(0, 122, 255, 1), 0 0 0 1px rgba(0, 122, 255, 1);
    }

    #btn-nav-comparison-list[data-count='2/4']::before {
        box-shadow: 8px 0 0 0 rgba(0, 122, 255, 1), 16px 0 0 0 rgba(255, 255, 255, 1), 24px 0 0 0 rgba(255, 255, 255, 1), 24px 0 0 1px rgba(0, 122, 255, 1), 16px 0 0 1px rgba(0, 122, 255, 1), 8px 0 0 1px rgba(0, 122, 255, 1), 0 0 0 1px rgba(0, 122, 255, 1);
    }

    #btn-nav-comparison-list[data-count='3/4']::before {
        box-shadow: 8px 0 0 0 rgba(0, 122, 255, 1), 16px 0 0 0 rgba(0, 122, 255, 1), 24px 0 0 0 rgba(255, 255, 255, 1), 24px 0 0 1px rgba(0, 122, 255, 1), 16px 0 0 1px rgba(0, 122, 255, 1), 8px 0 0 1px rgba(0, 122, 255, 1), 0 0 0 1px rgba(0, 122, 255, 1);
    }

    #btn-nav-comparison-list[data-count='4/4']::before {
        box-shadow: 8px 0 0 0 rgba(0, 122, 255, 1), 16px 0 0 0 rgba(0, 122, 255, 1), 24px 0 0 0 rgba(0, 122, 255, 1), 24px 0 0 1px rgba(0, 122, 255, 1), 16px 0 0 1px rgba(0, 122, 255, 1), 8px 0 0 1px rgba(0, 122, 255, 1), 0 0 0 1px rgba(0, 122, 255, 1);
    }

    #tab-bar[data-selected-tab='0'] .i:nth-of-type(1) button::after,
    #tab-bar[data-selected-tab='1'] .i:nth-of-type(2) button::after,
    #tab-bar[data-selected-tab='2'] .i:nth-of-type(3) button::after {
        content: '';
        width: 2px;
        height: 40px;
        position: absolute;
        background: rgba(0, 122, 255, 1);
        top: 0;
        left: -4px;
        border-radius: 0;
    }
}

@media only screen and (max-device-height: 568px ) and (orientation: landscape) {
    #tab-bar ul:first-of-type {
        margin-top: 5px;
    }

    #tab-bar h1 {
        display: none !important;
    }

}