/* Result List Panel */

.result-list-panel {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 480px;
    margin-left: 340px;
    vertical-align: top;
    /*transition: margin-left .3s ease-in-out, width .3s ease-in-out;*/
    z-index: 1;
    box-shadow: 1px 0 1px -1px rgb(12,9,23);
    overflow: hidden;
    opacity: 0;
}

body[data-ui-mode='1'] .result-list-panel {
    opacity: 1;
    transition: opacity .3s ease-out 6s, margin-left .5s ease-out;
}

.result-list-panel[data-mode='1'] {
    /*opacity: 0;*/
    pointer-events: none;
    width: 60px;
}

.result-list-panel[data-mode='1'] .result-list {
    opacity: 0.2;
    pointer-events: none;
    left: -420px;
}

.search-panel[data-mode='1'] ~ .result-list-panel {
    margin-left: 60px;
}

/* Results */

.result-list {
    width: 480px; /*defining the width on the result list enables the outer container to close over the contents*/
    padding: 0;
    position: relative;
    left:0; /*required for transition*/
    transition: left .3s ease-in-out;
}

.t a {
    padding: 15px 20px 25px 32px;
    -webkit-transition: height .3s ease-in-out;
}

.t a.hidden h3 {
    font-size: .7rem;
    line-height: 1rem;
}

.t a.hidden {
    height: 43px;
    overflow: hidden;
    -webkit-transition: height .3s ease-in-out;
}

.thumbnail-219, .t-219 {
    /*padding: 1px 12px 1px 12px;*/
    /*padding: 15px 20px 25px 20px;*/
    margin: 0;
}

.thumbnail-info, .ti {
    /*setting width and height enables correct vertical centering of font glyphs*/
    width: 22px;
    /*height: 14px;*/
    position: absolute;
    font-family: 'glyph';
    text-align: center;
    display: inline-block;
    color: silver;
}

.thumbnail-info.thumbnail-info-h3.is-unread:after, .ti.is-unread:after {
    display: inline-block;
    width:14px;
    height:14px;
    background-color: rgba(0, 109, 204, .95);
    border-radius: 14px;
    content: '';
}
.thumbnail-info.thumbnail-info-h3.is-unread, .ti.is-unread {
    display: inline-block;
}

.thumbnail-info.thumbnail-info-h3.is-pinned, .ti.ti-pinned.is-pinned {
    display: inline-block;
}

.ti:nth-child(1) {
    left: 7px;
    top: 24px;
}

.ti:nth-child(2) {
    left: 7px;
    top: 48px;
}

.ti:nth-child(3) {
    left: 7px;
    top: 75px; /*empirical*/
}

.ti:nth-child(4) {
    left: 7px;
    top: 105px; /*empirical*/
}

.thumbnail-info.is-favorite:after, .ti.is-favorite:after {
    font-family: ionicons;
    content: '\f1e0';
}


.thumbnail-info.actioned:after, .ti.actioned:after {
    font-family: ionicons;
    content: '\f16e';
    font-size: 1.1rem;
}

.thumbnail-info.thumbnail-info-pinned:after, .ti.ti-pinned:after {
    font-family: ionicons;
    content: '\f1a6';
}

/*.thumbnail-info.actioned, .ti.actioned {*/
    /*font-size: 7rem;*/
    /*color: rgba(0, 109, 204, 0.2);*/
    /*top: 64px;*/
    /*left: 57px;*/
/*}*/

.thumbnail-108 .thumbnail-info.actioned, .thumbnail-108 .ti.actioned {
    /*left: 25px;*/
    /*top: 57px;*/
    left: 25px;
    top: 31px;
    font-size: 4rem;
    color: rgba(0, 109, 204, 0.4);
}

.thumbnail-108 .thumbnail-info.item-of-interest, .thumbnail-108 .ti.item-of-interest, .thumbnail-108 .ti.ti-pinned {
    left: 5px;
    top: 57px;
}



.thumbnail-info.thumbnail-info-pinned, .ti.ti-pinned {
    border-radius: 29px;
    color: rgba(51, 51, 51, .5);
}

.ti.ti-pinned {
    font-size: 1.5rem;
    /*color: rgba(0, 109, 204, 0.95);*/
    color: silver;
}

.thumbnail h3, .t h3 {
    color: black;
    /*height: 3em;*/
    /*overflow: hidden;*/
}

.location-and-posted {
    text-align: right;
    font-style: italic;
}

.rate {
    text-align: right;
}

.thumbnail-108 h3 {
    font-size: 1em;
    line-height: 1em;
    word-wrap: break-word; /*avoid word clipping*/
}

.thumbnail .tld, .t .tld {
    margin-bottom: 9px;
}

.thumbnail a, .t a {
    display: block;
    color: #333;
}

.thumbnail a:hover, .t a:hover {
    text-decoration: none;
    color: #333;
}

.location-and-posted,
.rate {
    /*color: #08c;*/
    color: #999;
}

.selected {
    transition: width .3s ease-in-out 0s, opacity .3s ease-in-out;
}

/* Results End*/