#search-form {
    width: 340px; /* width explicitly spec'd to enable margin:auto centering on greenfield*/
    /*height: 330px;*/
    height: 320px;
    position: relative;
    text-align: left;
    margin: auto;
    /*padding-bottom: 12px;*/
    -webkit-backface-visibility: hidden; /*this fixes a chrome bug whereby the content remains blurry after the filter transition is complete*/
}

.search-panel[data-mode='1'] #search-form {
    -webkit-filter: opacity(0%);
}

.search-panel[data-mode='0'] #search-form {
    -webkit-filter: opacity(100%);
}

body[data-ui-mode='0'] #search-form .search-filters {
    text-align: left;
}

body[data-ui-mode='0'] .search-form-title {
    display: block;
}

body[data-ui-mode='0'] #search-form {
    position: absolute;
    height: 450px;
    width: 450px;
    left: 50%;
    top: 44%;
    margin-left: -225px;
    margin-top: -225px;
    box-shadow: 0 0px 50px 51px rgba(255,255,255,1);
    border-radius: 250px;
    text-align: center;
    background: rgba(255, 255, 255, 1);
}

body[data-ui-mode='0'] form[name='search-form'] {
    top: 49px;
    position: relative;
}

#btn-search {
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: helvetica-pro-light;
    line-height: 100px;
}

.search-button-container .label {
    margin-left: 1px; /*this is because the font rendering makes it look off center*/
}

.search-button-container .label {
    top: -6px;
    position: relative;
}

.search-button-container {
    position: absolute;
    left: 0; /*important to ensure correct placement*/
    top: 209px;
    width: 100%;
}

body[data-ui-mode='0'] .search-button-container {
    top: 277px;
}

.search-filters > :first-child {
    display: inline-block;
}

.search-filters {
    margin: 19px 20px 20px;
}

.search-filters {
    display: inline-block;
    position: relative;
}

.search-form-title {
    display: none;
    margin: 8px 0 20px 0;
}

.search-filters input[type=radio]:not(:checked) + label:hover {
    border-color: rgba(255, 200, 0, 0.3);
}

.search-filters label:active {
    box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.05) inset;
}

.search-filters label {
    font-size: 14px;
    font-weight: normal;
    line-height: 45px;
    border: 0;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    margin: 8px 11px 0 0;
    color: rgba(0, 109, 204, 0.95);
}
