

#search-form-panel-container {
    vertical-align: top;
    width: 0;
    display: inline-block;
}

#search-form-panel-container[data-mode='0'] #search-form-container {
    -webkit-filter: opacity(100%);
    pointer-events: auto;
}

body[data-ui-mode='1'] #search-form-panel-container[data-mode='1'] #search-form-container {
    -webkit-filter: opacity(0%);
    pointer-events: none;
}

/*rename!*/
#search-form-container {
    z-index: 3; /*4=tab-bar, 3=search-form-panel, 2=bookmarks-panel, 1=result-list-panel, 0=ioi-panel*/
}

body[data-ui-mode='1'][data-are-transitions-enabled='true'] #search-form-container {
    transition: -webkit-filter .2s ease-out;
}

body[data-ui-mode='0'] #search-form-container {
    position: absolute;
    height: 500px;
    width: 500px;
    left: 50%;
    top: 52%;
    margin-left: -250px;
    margin-top: -250px;
    border-radius: 130px;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    -webkit-backface-visibility: hidden; /*needed?*/
}

body[data-ui-mode='0'] #keywords {
    width: 460px;
}

#search-form {
    position: relative; /*enables absolute positioning of buttons in brownfield mode (given that the container is fixed position*/
}

#search-form-container hr {
    width: 335px;
    margin: 38px 0 0 145px;
}

body[data-ui-mode='0'] #search-form-container hr {
    display: none;
}

body[data-ui-mode='1'] #search-form {
    left: 74px; /*width of tab bar*/
}

body[data-ui-mode='1'] #search-form-container {
    position: fixed;
    top: 0;
    /*left: 74px; *//*width of tab bar*/
    /*width: 480px;*/
    /*height: 210px;*/
    width: 100%;
    height: 100%;
    text-align: left;
    background: rgba(255, 255, 255, .97);
    /*margin: auto;*/
    -webkit-backface-visibility: hidden; /*this fixes a chrome bug whereby the content remains blurry after the filter transition is complete*/
}

.search-buttons-container {
    position: relative; /*to give context to absolutely positioned buttons*/
    height: 88px; /*to enable correct positioning of hr after*/
}

.search-panel[data-mode='1'] #search-form-container {
    -webkit-filter: opacity(0%);
}

.search-panel[data-mode='0'] #search-form-container {
    -webkit-filter: opacity(100%);
}

body[data-ui-mode='1'] [data-search-form-mode='0'] .result-list,
body[data-ui-mode='1'] [data-search-form-mode='0'] .result-list-search-summary-container {
    -webkit-filter: opacity(3%);
    pointer-events: none;
}

body[data-ui-mode='1'] [data-search-form-mode='0'] #search-form-container {
    /*-webkit-transform: translateY(0px);*/
}

body[data-ui-mode='1'] [data-search-form-mode='1'] #search-form-container {
    left: 0; /*position is not fixed when minimized! - hence we need to change the left value*/
    -webkit-filter: opacity(0%); /*prevent it from being visible when users pull down to scroll on iOS*/
    /*-webkit-transform: translateY(-318px); *//* to base of the search buttons*/
}

body[data-ui-mode='1'] #search-form-container input[type='search'] {
    width: 439px;
}

body[data-ui-mode='0'] .cancel-button-container {
    display: none;
}

body[data-ui-mode='1'] .cancel-button-container {
    position: absolute;
    left: auto;
    right: 200px;
    top: 0;
    width: 88px;
}

body[data-ui-mode='1'] .search-button-container {
    position: absolute;
    left: auto;
    right: 50px;
    top: 0;
    width: 88px;
}

body[data-ui-mode='0'] #search-form-container .search-filters {
    text-align: left;
}

body[data-ui-mode='0'] .search-form-title {
    display: block;
}

body[data-ui-mode='0'] form[name='search-form'] {
    top: 6px; /*empirical*/
    position: relative;
}

#btn-cancel-search {
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: helvetica-pro-light;
    line-height: 100px;
}

#btn-search {
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: helvetica-pro-light;
    line-height: 100px;
}

.search-button-container .label {
    margin-left: 1px; /*this is because the font rendering makes it look off center*/
}

.search-button-container .label {
    top: -6px;
    position: relative;
}

.search-button-container {
    position: absolute;
    left: 0; /*important to ensure correct placement*/
    top: 209px;
    width: 100%;
}

body[data-ui-mode='0'] .search-button-container {
    top: -17px;
}

.search-filters > :first-child {
    display: inline-block;
}

.search-filters {
    margin: 20px 20px 20px 21px;
}

.search-filters {
    display: inline-block;
    position: relative;
}

.search-form-title {
    display: none;
    margin: 8px 0 20px 0;
}

body[data-hover-is-enabled='true'] .search-filters input[type=radio]:not(:checked) + label:hover {
    border-color: rgba(255, 200, 0, 0.3);
}

.search-filters label:active {
    box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.05) inset;
}

.search-filters label {
    font-size: 14px;
    font-weight: normal;
    line-height: 45px;
    border: 0;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    margin: 8px 11px 0 0;
    color: rgba(0, 109, 204, 0.95);
}

/*"narrow-screen" devices like iphone*/
@media only screen and (max-device-width: 568px) {
    .search-panel {
        position: absolute;
    }

    body {
        background-color: white;
    }

    body[data-ui-mode='0'] h2.search-form-title {
        display: none;
    }

    #background-container {
        display: none;
    }

    body[data-ui-mode='0'] #search-form-container {
        box-shadow: none;
        margin-top: -105px;
    }

    body[data-ui-mode='0'] .search-button-container {
        top: 207px;
    }
}

