/*The main-container concept introduced deliberately to be "helpful".*/

body[data-ui-mode='-1'] .main-container {
    -webkit-filter: opacity(0%); /*we use a filter because the normal opacity transition is janky*/
    transition: none;
}

body:not([data-ui-mode='-1']) .main-container {
    -webkit-filter: opacity(100%);
    transition: -webkit-filter .5s ease-out;
    -webkit-backface-visibility: hidden; /*this fixes a chrome bug whereby the content remains blurry after the filter transition is complete*/
}
