a:focus {
    outline: none;
    outline-offset: 2px;
    box-shadow: 0 0 0 4px #eee;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ol, ul {
    padding: 0 0 0 1.3rem;
}

ol li {
    list-style: decimal inside;
    line-height: 2rem;
}
