#result-list-panel-container {
    width: 0;
    height: 100%;
    overflow: visible;
    position: relative;
    display: inline-block;
    z-index: 1; /*needs to be behind bookmark list*/
}

body[data-ui-mode='0'] #result-list-panel-container {
    width: 100%;
}

#result-list-panel {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 480px;
    margin-left: 74px;
    vertical-align: top;
    z-index: 1;
    background-color: white; /*avoids visibility of items sliding in from behind panel*/
    box-shadow: 1px 0 1px -1px rgb(12, 9, 23);
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#result-list-panel[data-search-form-mode='0'] {
    -webkit-transform: none; /*having a transform screws with the fixed positioning of the search form*/
}

body[data-items-of-interest-mode='0'] #result-list-panel[data-search-form-mode='1'] {
    -webkit-transform: translate3d(0,0,0);
}

/*pinned items expanded*/
body[data-items-of-interest-mode='1'] #result-list-panel[data-search-form-mode='1'] {
    -webkit-transform: translate3d(-480px,0,0);
    box-shadow: none;
}

body[data-ui-mode='1'][data-are-transitions-enabled='true'] #result-list-panel {
    /*transition: opacity .2s ease-out 0s, -webkit-transform .2s ease-out;*/
    /*transition: opacity .5s ease-out 0s, -webkit-transform .5s ease-out;*/
    transition: -webkit-transform 2s ease-out;
}

body[data-are-transitions-enabled='true'] .result-list,
body[data-are-transitions-enabled='true'] .result-list-search-summary-container {
    transition: -webkit-filter .2s ease-out;
}

body[data-ui-mode='1'] .result-list-panel[data-search-form-mode='0'] {
    overflow: hidden; /*prevent scrolling through results when search form is expanded*/
}

body[data-ui-mode='0'] #result-list-panel {
    width: 100%;
    box-shadow: none;
    background: none;
    margin: 0; /*cancels out the massive margin left we currently have on this*/
}

body[data-ui-mode='0'] .result-list-search-summary-container,
body[data-ui-mode='0'] .result-list {
    display: none;
}



/*translations should only be applied when needed due to breakage of fixed position search form*/
body[data-ui-mode='1'] #result-list-panel {
    opacity: 1;
    /*-webkit-transform: translate(0, 0);*/
}

#result-list-panel[data-mode='1'] .result-list {
    /*opacity: 0.2;*/
    pointer-events: none;
}

.result-list-search-summary-container > :first-child {
    padding: 15px 10px 14px 10px;
}

.result-list-search-summary-container {
    display: inline-block;
    width: 100%;
    color: #999;
}

/*.search-panel[data-mode='1'] ~ #result-list-panel {*/
    /*-webkit-transform: translate(-340px, 0);*/
/*}*/

/*.search-panel[data-mode='0'] ~ #result-list-panel[data-mode='1'] {*/
    /*-webkit-transform: translate(-494px, 0); *//*420 (result list effective width)*/
/*}*/

/*.search-panel[data-mode='1'] ~ #result-list-panel[data-mode='1'] {*/
    /*-webkit-transform: translate(-760px, 0); *//*420 (result list effective width) +274 (search panel effective width)*/
/*}*/

.result-list {
    width: 100%;
    padding: 0;
    position: relative;
    left: 0; /*required for transition*/
    transition: left .3s ease-in-out;
}

.t-219 {
    width: 100%;
    margin: 0;
}

.thumbnail-info, .ti {
    width: 22px;
    font-family: 'glyph';
    text-align: center;
    color: silver;
}

.thumbnail-info.thumbnail-info-h3.is-unread:after, .ti.is-unread:after {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: rgba(126, 157, 173, 1);
    border-radius: 14px;
    content: '';
}

.icon-container {
    position: absolute;
    left: 7px;
    top: 25px;
    width: 22px;
}

.is-favorite, .is-pinned, .is-unread, .actioned {
    float: left;
    display: none;
}

.t[data-is-favorite='true'] .is-favorite,
.t[data-is-pinned='true'] .is-pinned,
.t[data-is-unread='true'] .is-unread,
.t[data-is-actioned='true'] .actioned {
    display: inline-block;
}

.ti.is-favorite:after {
    font-family: ionicons;
    content: '\f26b';
}

.ti.actioned:after {
    font-family: ionicons;
    content: '\f16e';
    font-size: 1.1rem;
}

.ti.ti-pinned:after {
    font-family: ionicons;
    content: '\f2ba';
}

.thumbnail-108 .thumbnail-info.actioned, .thumbnail-108 .ti.actioned {
    left: 25px;
    top: 31px;
    font-size: 4rem;
    color: rgba(0, 109, 204, 0.4);
}

.thumbnail-108 .thumbnail-info.item-of-interest, .thumbnail-108 .ti.item-of-interest, .thumbnail-108 .ti.ti-pinned {
    left: 5px;
    top: 57px;
}

.thumbnail-info.thumbnail-info-pinned, .ti.ti-pinned {
    border-radius: 29px;
    color: rgba(51, 51, 51, .5);
}

.ti.ti-pinned {
    font-size: 1.5rem;
    color: silver;
}

.thumbnail h3, .t h3 {
    color: black;
}

.location-and-posted {
    text-align: right;
    font-style: italic;
    padding-right: 1px; /*avoid overflowing to the right (which is clipped when back-face visibility is set*/
}

.rate {
    text-align: right;
}

.thumbnail-108 h3 {
    line-height: 1em;
    word-wrap: break-word; /*avoid word clipping*/
}

.thumbnail a, .t a {
    display: block;
    color: #333;
}

body[data-hover-is-enabled='true'] .t a:hover {
    text-decoration: none;
    color: #333;
}

.location-and-posted,
.rate {
    color: #999;
}

.t {
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.t.hidden a {
    max-height: 27px; /*empirical*/
    overflow: hidden;
}

.t a {
    padding: 15px 20px 25px 32px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    max-height: 250px; /*larger than it will ever get*/
    transition: max-height .2s ease-out; /* we use max-height because involve transition to auto height*/
}

/*.c is the content container for the result, located inside the anchor itself (minus the icon-container)*/
.c {
    display: inline-block; /*required to ensure opacity takes effect on children*/
}

.t.hidden h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.t.hidden .tld, .t.hidden .rate, .t.hidden .location-and-posted, .t.hidden .icon-container {
    visibility: hidden;
}

.t .tld {
    margin-bottom: 9px;
}

.t h2 {
    margin: 0;
}

.t-219 h3 {
    font-size: 1rem;
}

.t-219 a {
    font-size: 1rem;
}

.t-108 {
    width: 116px;
    height: 60px;
    font-size: 0.75em;
    padding: 1px;
}

.t-108 h3, .t-108 h4, .t-108 h5 {
    line-height: 1.1em;
    margin: 0 0 6px 0;
}

.t-108 h4 {
    font-weight: normal;
    text-align: right;
}

.t-108:before {
    bottom: -3px;
    right: -3px;
    border-radius: 0 0 7px 0;
}

.t.selected {
    background: rgba(0, 0, 0, .1);
    border-radius: 0;
}

.t.edit:before {
    background-color: rgb(0, 0, 0);
    border-radius: 41px;
    box-shadow: 0px 0px 0 0px rgb(51, 51, 51);
    content: '';
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 20px;
    position: relative;
    left: 0; /*need to understand why*/
    top: -52%;
    width: 2px;
    height: 113px;
    line-height: 41px;
    text-align: center;
    -webkit-transform: rotate(45deg);
}

.t.edit {
    -webkit-animation: jiggle 0.2s infinite 0.05s;
}

.t.edit:after {
    content: none !important;
}

#btn-change-search {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

#frm-edit-search {
    float: right;
}

/*"narrow-screen" devices like iphone*/
/*media queries must be on a single lime to avoid safari bug*/
@media only screen and (max-device-width: 568px) {
    #result-list-panel {
        width: 200px;
    }
}
