#favorites-cube {
    visibility: hidden;
    opacity: 0;

}

body[data-ui-mode='1'] #favorites-cube {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

footer {
    clear: both;
    top: 106px;
    position: relative;
    text-align: center;
}

figure {
    margin: 0; /*important to ensure rotational origin is centered*/
}

.cube-container {
    width: 260px;
    height: 260px;
    position: relative;
    -webkit-perspective: 800px;
    margin: auto;
    margin-bottom: 35px; /*space for face label*/
    -webkit-user-select: none;
    top: 26px;
}

.cube-container:not([data-selected-face-id='0']) .cube-controls .face-selector:nth-child(1):hover,
.cube-container:not([data-selected-face-id='1']) .cube-controls .face-selector:nth-child(2):hover,
.cube-container:not([data-selected-face-id='2']) .cube-controls .face-selector:nth-child(3):hover,
.cube-container:not([data-selected-face-id='3']) .cube-controls .face-selector:nth-child(4):hover,
.cube-container:not([data-selected-face-id='4']) .cube-controls .face-selector:nth-child(5):hover,
.cube-container:not([data-selected-face-id='5']) .cube-controls .face-selector:nth-child(6):hover,
.face-selector.btn-add-active-cube-face:hover {
    border-color: rgba(255, 200, 0, 0.3);
    text-decoration: none;
}

.face-selector.btn-add-active-cube-face:hover {
    color: #0059b8;
}

.cube-container[data-selected-face-id='0'] .cube-controls .face-selector-container:nth-child(1) .face-selector,
.cube-container[data-selected-face-id='1'] .cube-controls .face-selector-container:nth-child(2) .face-selector,
.cube-container[data-selected-face-id='2'] .cube-controls .face-selector-container:nth-child(3) .face-selector,
.cube-container[data-selected-face-id='3'] .cube-controls .face-selector-container:nth-child(4) .face-selector,
.cube-container[data-selected-face-id='4'] .cube-controls .face-selector-container:nth-child(5) .face-selector,
.cube-container[data-selected-face-id='5'] .cube-controls .face-selector-container:nth-child(6) .face-selector {
    background-color: rgba(0, 109, 204, 0.95);
    box-shadow: 0 0 0 2px rgba(0, 109, 204, 1) !important;
    border: 2px solid white;
}

.cube-container[data-selected-face-id='0'] .cube-controls .face-selector-container:nth-child(1) .spot,
.cube-container[data-selected-face-id='1'] .cube-controls .face-selector-container:nth-child(2) .spot,
.cube-container[data-selected-face-id='2'] .cube-controls .face-selector-container:nth-child(3) .spot,
.cube-container[data-selected-face-id='3'] .cube-controls .face-selector-container:nth-child(4) .spot,
.cube-container[data-selected-face-id='4'] .cube-controls .face-selector-container:nth-child(5) .spot,
.cube-container[data-selected-face-id='5'] .cube-controls .face-selector-container:nth-child(6) .spot {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6)
}

.cube-container[data-selected-face-id='0'] .cube-controls .face-selector-container:nth-child(1) .spot.filled,
.cube-container[data-selected-face-id='1'] .cube-controls .face-selector-container:nth-child(2) .spot.filled,
.cube-container[data-selected-face-id='2'] .cube-controls .face-selector-container:nth-child(3) .spot.filled,
.cube-container[data-selected-face-id='3'] .cube-controls .face-selector-container:nth-child(4) .spot.filled,
.cube-container[data-selected-face-id='4'] .cube-controls .face-selector-container:nth-child(5) .spot.filled,
.cube-container[data-selected-face-id='5'] .cube-controls .face-selector-container:nth-child(6) .spot.filled {
    background-color: white;
}

.cube-face-labels li {
    display: none;
}

.cube-container[data-selected-face-id='0'] .cube-face-labels li[for="f-t"],
.cube-container[data-selected-face-id='1'] .cube-face-labels li[for="f-l"],
.cube-container[data-selected-face-id='2'] .cube-face-labels li[for="f-f"],
.cube-container[data-selected-face-id='3'] .cube-face-labels li[for="f-r"],
.cube-container[data-selected-face-id='4'] .cube-face-labels li[for="f-bottom"],
.cube-container[data-selected-face-id='5'] .cube-face-labels li[for="f-back"] {
    display: block;
}

.cube figure .face-empty-message {
    display: none;
    position: relative;
    text-align: center;
    top: 40%;
}

.cube figure .face-empty-message:only-child {
    display: block;
}

.cube {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s ease-out;
    width: 100%;
    height: 100%;
}

.cube figure:not(.center) {
    opacity: 0.1;
}

.cube figure {
    display: block;
    position: absolute;
    width: 260px;
    height: 260px;
    text-align: left;
    box-sizing: border-box;
    opacity: 1;
}

.cube figure:before {
    display: block;
    content: '';
    width: 0;
    background-color: #eee;
    height: 0;
    position: relative;
    top: 0;
    -webkit-transform: rotate(0deg);
    left: 0;
}

.cube .front {
    -webkit-transform: translateZ(130px);
}

.cube .back {
    -webkit-transform: rotateX(-180deg) translateZ(130px);
}

.cube .right {
    -webkit-transform: rotateY(90deg) translateZ(130px);
}

.cube .left {
    -webkit-transform: rotateY(-90deg) translateZ(130px);
}

.cube .top {
    -webkit-transform: rotateX(90deg) translateZ(130px);
}

.cube .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(130px);
}

.cube-container[data-selected-face-id='0'] .cube {
    /*#f-t:checked ~ .cube {*/
    -webkit-transform: translateZ(-130px) rotateX(-90deg);
}

.cube-container[data-selected-face-id='1'] .cube {
    -webkit-transform: translateZ(-130px) rotateY(90deg);
}

.cube-container[data-selected-face-id='2'] .cube {
    -webkit-transform: translateZ(-130px);
}

.cube-container[data-selected-face-id='3'] .cube {
    -webkit-transform: translateZ(-130px) rotateY(-90deg);
}

.cube-container[data-selected-face-id='4'] .cube {
    -webkit-transform: translateZ(-130px) rotateX(90deg);
}

.cube-container[data-selected-face-id='5'] .cube {
    -webkit-transform: translateZ(-130px) rotateX(-180deg);
}

.cube-container[data-selected-face-id='0'] .cube .top,
.cube-container[data-selected-face-id='1'] .cube .left,
.cube-container[data-selected-face-id='2'] .cube .front,
.cube-container[data-selected-face-id='3'] .cube .right,
.cube-container[data-selected-face-id='4'] .cube .bottom,
.cube-container[data-selected-face-id='5'] .cube .back {
    opacity: 1;
    -webkit-transition: opacity .5s linear;
}

.cube-container:not([data-selected-face-id='0']) .cube .top,
.cube-container:not([data-selected-face-id='1']) .cube .left,
.cube-container:not([data-selected-face-id='2']) .cube .front,
.cube-container:not([data-selected-face-id='3']) .cube .right,
.cube-container:not([data-selected-face-id='4']) .cube .bottom,
.cube-container:not([data-selected-face-id='5']) .cube .back {
    opacity: .05;
    -webkit-transition: opacity .5s linear;
}

.result {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 5px;
    background-position: 0 0;
}

.hover:nth-child(even) {
    margin-left: 7px !important;
}

.favourites .hover {
    display: inline-block;
    box-sizing: border-box;
}

.my-favourites .hover {
    margin: auto;
}

.favourites {
    height: 100%;
    width: 100%;
    border: none;
    position: relative;
}

.hover {
    background-color: transparent;
    margin: 10px 0 10px 0;
}

.my-favourites {
    top: 0;
    position: relative;
    width: 100%;
    height: 330px;
    -webkit-user-select: none;
}

.cube-controls {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -34px;
    margin: auto;
    text-align: center;
}

.cube-face-labels {
    position: relative;
    top: -36px;
    text-align: center;
    list-style: none;
    width: 100%;
    padding: 0;
}

.cube-controls label, .cube-controls .face-selector {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid #eee;
}

.face-usage-indicator:hover {
    text-decoration: none;
}

.face-usage-indicator .spot {
    display: inline-block;
    width: 9px;
    height: 5px;
    border-radius: 1px;
    box-shadow: 0 0 0 0px rgba(0, 109, 204, 1);
    position: relative;
    margin: 4px 4px 2px 4px;
    float: left;
}

.face-usage-indicator .spot.filled {
    background-color: rgba(0, 109, 204, 1);
}

.face-usage-indicator {
    /*experimentally derived*/
    font-size: 1.9rem;
    text-align: center;
    position: relative;
    height: 35px;
    width: 35px;
    display: inline-block;
    word-break: break-all;
    overflow: hidden;
    line-height: 19px;
    margin: 0;
    padding: 0;
    font-family: pictos;
}

.cube-controls .face-selector {
    font-size: 2rem;
    color: white;
    word-break: break-word;
    opacity: 0;
    pointer-events: none;
}

.cube-controls[data-active-faces='100000'] .face-selector-container:nth-of-type(1) .face-selector,
.cube-controls[data-active-faces='110000'] .face-selector-container:nth-of-type(1) .face-selector,
.cube-controls[data-active-faces='110000'] .face-selector-container:nth-of-type(2) .face-selector,
.cube-controls[data-active-faces='111000'] .face-selector-container:nth-of-type(1) .face-selector,
.cube-controls[data-active-faces='111000'] .face-selector-container:nth-of-type(2) .face-selector,
.cube-controls[data-active-faces='111000'] .face-selector-container:nth-of-type(3) .face-selector,
.cube-controls[data-active-faces='111100'] .face-selector-container:nth-of-type(1) .face-selector,
.cube-controls[data-active-faces='111100'] .face-selector-container:nth-of-type(2) .face-selector,
.cube-controls[data-active-faces='111100'] .face-selector-container:nth-of-type(3) .face-selector,
.cube-controls[data-active-faces='111100'] .face-selector-container:nth-of-type(4) .face-selector,
.cube-controls[data-active-faces='111110'] .face-selector-container:nth-of-type(1) .face-selector,
.cube-controls[data-active-faces='111110'] .face-selector-container:nth-of-type(2) .face-selector,
.cube-controls[data-active-faces='111110'] .face-selector-container:nth-of-type(3) .face-selector,
.cube-controls[data-active-faces='111110'] .face-selector-container:nth-of-type(4) .face-selector,
.cube-controls[data-active-faces='111110'] .face-selector-container:nth-of-type(5) .face-selector,
.cube-controls[data-active-faces='111111'] .face-selector-container:nth-of-type(1) .face-selector,
.cube-controls[data-active-faces='111111'] .face-selector-container:nth-of-type(2) .face-selector,
.cube-controls[data-active-faces='111111'] .face-selector-container:nth-of-type(3) .face-selector,
.cube-controls[data-active-faces='111111'] .face-selector-container:nth-of-type(4) .face-selector,
.cube-controls[data-active-faces='111111'] .face-selector-container:nth-of-type(5) .face-selector,
.cube-controls[data-active-faces='111111'] .face-selector-container:nth-of-type(6) .face-selector {
    opacity: 1;
    pointer-events: auto;
}

.cube-controls[data-active-faces='111111'] > .face-selector.btn-add-active-cube-face {
    display: none;
}

.face-selector.btn-add-active-cube-face {
    position: absolute;
    opacity: 1;
    left: 53px;
    font-size: 3rem;
    line-height: 2.4rem;
    cursor: pointer;
    pointer-events: auto;
    border: none;
    color: rgba(0, 109, 204, 0.95);
}

.cube-controls[data-active-faces='100000'] .face-selector.btn-add-active-cube-face {
    left: 53px;
}

.cube-controls[data-active-faces='110000'] .face-selector.btn-add-active-cube-face {
    left: 97px;
}

.cube-controls[data-active-faces='111000'] .face-selector.btn-add-active-cube-face {
    left: 140px;
}

.cube-controls[data-active-faces='111100'] .face-selector.btn-add-active-cube-face {
    left: 183px;
}

.cube-controls[data-active-faces='111110'] .face-selector.btn-add-active-cube-face {
    left: 226px;
}

.favorites-cube-edit-link {
    position: absolute;
    top: -30px;
    right:0;
    z-index: 1;
}

#favorites-cube[data-mode='1'] .face-selector:not(.btn-add-active-cube-face):nth-child(odd) {
    -webkit-animation: jiggle 0.2s infinite .05s;
}

#favorites-cube[data-mode='1'] .face-selector:not(.btn-add-active-cube-face):nth-child(even) {
    -webkit-animation: jiggle 0.2s infinite;
    -webkit-transform: rotate(-1deg);
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
    }
    50% {
        -webkit-transform: rotate(1deg);
    }
}

.btn-delete-face-selector:hover {
    text-decoration: none;
    color: white;
}

#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='100000'] .face-selector-container:nth-of-type(1) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='110000'] .face-selector-container:nth-of-type(1) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='110000'] .face-selector-container:nth-of-type(2) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111000'] .face-selector-container:nth-of-type(1) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111000'] .face-selector-container:nth-of-type(2) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111000'] .face-selector-container:nth-of-type(3) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111100'] .face-selector-container:nth-of-type(1) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111100'] .face-selector-container:nth-of-type(2) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111100'] .face-selector-container:nth-of-type(3) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111100'] .face-selector-container:nth-of-type(4) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111110'] .face-selector-container:nth-of-type(1) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111110'] .face-selector-container:nth-of-type(2) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111110'] .face-selector-container:nth-of-type(3) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111110'] .face-selector-container:nth-of-type(4) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111110'] .face-selector-container:nth-of-type(5) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111111'] .face-selector-container:nth-of-type(1) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111111'] .face-selector-container:nth-of-type(2) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111111'] .face-selector-container:nth-of-type(3) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111111'] .face-selector-container:nth-of-type(4) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111111'] .face-selector-container:nth-of-type(5) .btn-delete-face-selector,
#favorites-cube[data-mode='1'] .cube-controls[data-active-faces='111111'] .face-selector-container:nth-of-type(6) .btn-delete-face-selector {
    opacity: 1;
    pointer-events: auto;
}

#favorites-cube[data-mode='1'] .face-selector.btn-add-active-cube-face {
    opacity: 0;
}

.btn-delete-face-selector {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(251, 32, 37, 1);
    border-radius: 20px;
    font-size: 2.3rem;
    line-height: .9rem;
    color: white;
    bottom: -26px;
    font-weight: normal;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-in-out;

}

.face-selector-container {
    display:inline-block;
}

.cube-controls .face-selector-container:nth-child(1) .btn-delete-face-selector {
    left: 12px;
}
.cube-controls .face-selector-container:nth-child(2) .btn-delete-face-selector {
    left: 55px;
}
.cube-controls .face-selector-container:nth-child(3) .btn-delete-face-selector {
    left: 98px;
}
.cube-controls .face-selector-container:nth-child(4) .btn-delete-face-selector {
    left: 141px;
}
.cube-controls .face-selector-container:nth-child(5) .btn-delete-face-selector {
    left: 184px;
}
.cube-controls .face-selector-container:nth-child(6)  .btn-delete-face-selector {
    left: 227px;
}

.cube-container {
    top: 42px;
}
