/* Handles */

.handle {
    color: #333;
    text-decoration: none;
    /*transition: opacity .2s linear;*/
    /*position: fixed;*/
    position: absolute;
    top: 8px;
    left: 6px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    z-index: 2;
    width: 50px;
}

.handle-result-list {
    position: absolute;
    top: 8px;
    left: 15px;
    color: #333;
    text-decoration: none;
    opacity: 0;
    cursor: pointer;
    width: 50px;
}

.result-list-panel[data-mode='0'] ~ .handle-result-list {
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s linear 0;
}

.result-list-panel[data-mode='1'] ~ .handle-result-list {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .2s linear .2s;
}

/* Handles End */

