.search-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; /*prevent the flash of styling on the homepage*/
    vertical-align: top;
    z-index: 2; /*ensure remains in-front of everything else*/
}

body[data-ui-mode='0'] .search-panel {
    /*width: 100%;*/
    /*box-shadow: none;*/
    display: none;

}



body[data-ui-mode='0'][data-are-transitions-enabled='true'] .search-panel {
    transition: none;
}

body[data-ui-mode='1'][data-are-transitions-enabled='true'] .search-panel {
    transition: -webkit-transform .2s ease-out;
}

body[data-ui-mode='0'] .search-panel[data-mode='0'] {
    -webkit-transform: translate(0, 0);
}

body[data-ui-mode='1'] .search-panel {
    margin-left: 74px;
    width: 340px;
    background-color: white; /*applied in this mode to avoid hiding background on greenfield*/
    box-shadow: 1px 0 1px -1px rgb(12, 9, 23);
}

/*body[data-ui-mode='1'][data-are-transitions-enabled='true'] #search-form,*/
/*body[data-ui-mode='1'][data-are-transitions-enabled='true'] .handle-search-panel {*/
    /*transition: -webkit-filter .1s ease-out; *//*covers fading of contents and handle when mode changes*/
/*}*/

body[data-ui-mode='1'] .search-panel[data-mode='1'] {
    opacity: 1;
    -webkit-transform: translate(-340px, 0);
}

body[data-ui-mode='1'] #bookmark-panel[data-mode='0'] + .search-panel[data-mode='1'] {
    opacity: 1;
    -webkit-transform: translate(-540px, 0);
}

/*"narrow-screen" devices like iphone*/
@media only screen and (max-device-width: 568px) {
    .search-panel {
        position: absolute;
    }

    body {
        background-color: white;
    }

    body[data-ui-mode='0'] h2.search-form-title {
        display: none;
    }

    .background-container {
        display: none;
    }

    body[data-ui-mode='0'] #search-form {
        box-shadow: none;
        margin-top: -105px;
    }

    body[data-ui-mode='0'] .search-button-container {
        top: 207px;
    }
}
