.rotate {
    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
    }

    50% {
        -webkit-transform: rotate(1deg);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    14%, 42%, 70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    28%, 56%, 84% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}
